{"openapi":"3.0.1","info":{"title":"知马网信息综合服务系统API","description":"知马网信息综合服务Rest api文档","version":"1.0"},"servers":[{"url":"http://duducar.cloud:8888","description":"Generated server url"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"用户管理","description":"用户登录、登出等接口"},{"name":"文章管理","description":"文章详情、评论、浏览、图片等管理接口"},{"name":"板块管理","description":"主板块、子板块、用户权限等管理接口"},{"name":"内容管理","description":"移动端内容、页面、组件等管理接口"}],"paths":{"/api/section/sub/update":{"put":{"tags":["板块管理"],"summary":"更新子板块","description":"更新分功能板块的信息，如修改板块名称、描述或关联的文章","operationId":"updateSubSection","requestBody":{"description":"子板块信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SectionSub"},"examples":{"请求示例":{"description":"请求示例","value":{"subId":1,"mainId":1,"articleId":101,"subSectionName":"马来西亚留学资讯","decriptions":"马来西亚留学最新资讯和攻略"}}}}},"required":true},"responses":{"200":{"description":"更新成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"更新子板块成功","data":{"subId":1,"mainId":1,"articleId":101,"subSectionName":"马来西亚留学资讯","decriptions":"马来西亚留学最新资讯和攻略","mainSectionName":"留学资讯","articleName":"马来西亚留学指南"}}}}}}}}}},"/api/section/permission/update":{"put":{"tags":["板块管理"],"summary":"更新用户权限","description":"更新用户对特定主板块的权限类型，如将查看权限升级为编辑权限","operationId":"updateUserPermission","requestBody":{"description":"用户权限信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMainSectionPermission"},"examples":{"请求示例":{"description":"请求示例","value":{"permissionId":2,"userId":2,"mainId":1,"permissionType":"admin"}}}}},"required":true},"responses":{"200":{"description":"更新成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"更新用户权限成功","data":{"permissionId":2,"userId":2,"mainId":1,"permissionType":"admin","username":"editor","mainSectionName":"留学资讯"}}}}}}}}}},"/api/section/main/update":{"put":{"tags":["板块管理"],"summary":"更新主板块","description":"更新主功能板块的信息，如修改板块名称或启用状态","operationId":"updateMainSection","requestBody":{"description":"主板块信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SectionMain"},"examples":{"请求示例":{"description":"请求示例","value":{"mainId":1,"mainSectionName":"留学资讯中心","enabled":true}}}}},"required":true},"responses":{"200":{"description":"更新成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"更新主板块成功","data":{"mainId":1,"mainSectionName":"留学资讯中心","enabled":true,"createdAt":"2025-01-27T10:00:00"}}}}}}}}}},"/api/content/update":{"put":{"tags":["内容管理"],"summary":"更新内容","description":"更新移动端内容的信息","operationId":"updateContent","requestBody":{"description":"内容信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileContents"},"examples":{"请求示例":{"description":"请求示例","value":{"contentId":1,"contentType":"留学资讯","title":"马来西亚留学完整指南2025版","content":"马来西亚是一个多元文化的国家，拥有丰富的教育资源。马来西亚的大学在国际上享有良好的声誉，特别是马来亚大学、马来西亚国民大学等知名学府。\n\n留学马来西亚的优势：\n1. 教育质量高，国际认可度强\n2. 学费相对较低，生活成本适中\n3. 多元文化环境，有利于国际视野的培养\n4. 地理位置优越，距离中国较近\n5. 2025年新增多项优惠政策\n\n申请流程：\n1. 选择学校和专业\n2. 准备申请材料\n3. 提交申请\n4. 获得录取通知书\n5. 办理签证\n6. 准备行前事宜\n\n最新政策更新：\n- 简化签证申请流程\n- 增加奖学金项目\n- 优化课程设置","isActive":true}}}}},"required":true},"responses":{"200":{"description":"更新成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"更新内容成功","data":{"contentId":1,"contentType":"留学资讯","title":"马来西亚留学完整指南2025版","content":"马来西亚是一个多元文化的国家...","isActive":true,"createdAt":"2025-01-27T10:00:00","updatedAt":"2025-01-27T12:00:00"}}}}}}}}}},"/api/article/update":{"put":{"tags":["文章管理"],"summary":"更新文章","description":"更新文章的信息，如标题、内容、作者等","operationId":"updateArticle","requestBody":{"description":"文章信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleDetails"},"examples":{"请求示例":{"description":"请求示例","value":{"articleId":101,"title":"马来西亚留学完整指南2025版","content":"马来西亚是一个多元文化的国家，拥有丰富的教育资源。马来西亚的大学在国际上享有良好的声誉，特别是马来亚大学、马来西亚国民大学等知名学府。\n\n留学马来西亚的优势：\n1. 教育质量高，国际认可度强\n2. 学费相对较低，生活成本适中\n3. 多元文化环境，有利于国际视野的培养\n4. 地理位置优越，距离中国较近\n5. 2025年新增多项优惠政策\n\n申请流程：\n1. 选择学校和专业\n2. 准备申请材料\n3. 提交申请\n4. 获得录取通知书\n5. 办理签证\n6. 准备行前事宜\n\n最新政策更新：\n- 简化签证申请流程\n- 增加奖学金项目\n- 优化课程设置","writer":"张老师"}}}}},"required":true},"responses":{"200":{"description":"更新成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"更新文章成功","data":{"articleId":101,"title":"马来西亚留学完整指南2025版","content":"马来西亚是一个多元文化的国家...","writer":"张老师","viewCount":1250,"commentCount":15,"createdAt":"2025-01-27T10:00:00"}}}}}}}}}},"/api/user/logout":{"post":{"tags":["用户管理"],"summary":"用户登出","description":"用户登出接口，清除Redis中的Token","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/user/login":{"post":{"tags":["用户管理"],"summary":"用户登录","description":"用户登录接口，返回JWT Token","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseLoginResponse"}}}}}}},"/api/section/sub/add":{"post":{"tags":["板块管理"],"summary":"添加子板块","description":"添加新的分功能板块，需要指定所属的主板块和关联的文章","operationId":"addSubSection","requestBody":{"description":"子板块信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SectionSub"},"examples":{"请求示例":{"description":"请求示例","value":{"mainId":1,"articleId":103,"subSectionName":"泰国留学","decriptions":"泰国留学相关资讯"}}}}},"required":true},"responses":{"200":{"description":"添加成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"添加子板块成功","data":{"subId":4,"mainId":1,"articleId":103,"subSectionName":"泰国留学","decriptions":"泰国留学相关资讯","mainSectionName":"留学资讯","articleName":"泰国留学指南"}}}}}}}}}},"/api/section/permission/add":{"post":{"tags":["板块管理"],"summary":"添加用户权限","description":"为用户分配对特定主板块的权限，权限类型包括：view(查看)、edit(编辑)、admin(管理)","operationId":"addUserPermission","requestBody":{"description":"用户权限信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMainSectionPermission"},"examples":{"请求示例":{"description":"请求示例","value":{"userId":4,"mainId":1,"permissionType":"edit"}}}}},"required":true},"responses":{"200":{"description":"添加成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"添加用户权限成功","data":{"permissionId":5,"userId":4,"mainId":1,"permissionType":"edit","username":"newuser","mainSectionName":"留学资讯"}}}}}}}}}},"/api/section/main/add":{"post":{"tags":["板块管理"],"summary":"添加主板块","description":"添加新的主功能板块，如添加'就业指导'、'生活服务'等板块","operationId":"addMainSection","requestBody":{"description":"主板块信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SectionMain"},"examples":{"请求示例":{"description":"请求示例","value":{"mainSectionName":"就业指导","enabled":true}}}}},"required":true},"responses":{"200":{"description":"添加成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"添加主板块成功","data":{"mainId":4,"mainSectionName":"就业指导","enabled":true,"createdAt":"2025-01-27T10:00:00"}}}}}}}}}},"/api/content/add":{"post":{"tags":["内容管理"],"summary":"添加内容","description":"添加新的移动端内容","operationId":"addContent","requestBody":{"description":"内容信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileContents"},"examples":{"请求示例":{"description":"请求示例","value":{"contentType":"生活服务","title":"马来西亚生活指南","content":"在马来西亚生活需要注意的事项：\n\n1. 气候适应\n- 马来西亚属于热带气候，全年高温多雨\n- 需要准备防晒用品和雨具\n\n2. 饮食文化\n- 马来西亚是美食天堂，有马来、华人、印度等多种美食\n- 注意饮食卫生，选择正规餐厅\n\n3. 交通出行\n- 公共交通发达，有轻轨、巴士等\n- 也可以使用打车软件如Grab\n\n4. 语言交流\n- 官方语言是马来语，但英语也广泛使用\n- 华人区可以使用中文交流","isActive":true}}}}},"required":true},"responses":{"200":{"description":"添加成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"添加内容成功","data":{"contentId":5,"contentType":"生活服务","title":"马来西亚生活指南","content":"在马来西亚生活需要注意的事项...","isActive":true,"createdAt":"2025-01-27T11:30:00","updatedAt":"2025-01-27T11:30:00"}}}}}}}}}},"/api/article/{articleId}/view":{"post":{"tags":["文章管理"],"summary":"增加文章浏览次数","description":"用户查看文章时增加浏览次数，用于统计文章热度","operationId":"addArticleView","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":101}],"responses":{"200":{"description":"增加成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"增加浏览次数成功","data":{"articleId":101,"viewCount":1251}}}}}}}}}},"/api/article/{articleId}/picture":{"post":{"tags":["文章管理"],"summary":"添加文章图片","description":"为指定文章添加相关图片","operationId":"addArticlePicture","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":101}],"requestBody":{"description":"图片信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticlesPic"},"examples":{"请求示例":{"description":"请求示例","value":{"pictureUrl":"https://example.com/images/malaysia-university-4.jpg","pictureDescription":"马来西亚大学图书馆"}}}}},"required":true},"responses":{"200":{"description":"添加成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"添加文章图片成功","data":{"pictureId":4,"articleId":101,"pictureUrl":"https://example.com/images/malaysia-university-4.jpg","pictureDescription":"马来西亚大学图书馆"}}}}}}}}}},"/api/article/page":{"post":{"tags":["文章管理"],"summary":"分页查询文章","description":"根据页码和每页数量分页查询文章，支持按标题、作者等条件筛选","operationId":"getArticlesByPage","requestBody":{"description":"分页查询条件","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageRequestDTO"},"examples":{"请求示例":{"description":"请求示例","value":{"page":1,"size":10,"title":"留学","writer":"张老师"}}}}},"required":true},"responses":{"200":{"description":"查询成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"分页查询成功","data":{"total":25,"pages":3,"currentPage":1,"pageSize":10,"records":[{"articleId":101,"title":"马来西亚留学指南","content":"马来西亚是一个多元文化的国家...","writer":"张老师","viewCount":1250,"commentCount":15,"createdAt":"2025-01-27T10:00:00"},{"articleId":102,"title":"新加坡留学攻略","content":"新加坡作为亚洲四小龙之一...","writer":"李老师","viewCount":980,"commentCount":8,"createdAt":"2025-01-26T15:30:00"}]}}}}}}}}}},"/api/article/comment/add":{"post":{"tags":["文章管理"],"summary":"添加评论","description":"为指定文章添加评论，需要用户登录","operationId":"addComment","requestBody":{"description":"评论信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleComments"},"examples":{"请求示例":{"description":"请求示例","value":{"articleId":101,"userId":4,"commentContent":"这篇文章写得很好，对我申请马来西亚大学很有帮助！"}}}}},"required":true},"responses":{"200":{"description":"添加成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"添加评论成功","data":{"commentId":4,"articleId":101,"userId":4,"commentContent":"这篇文章写得很好，对我申请马来西亚大学很有帮助！","commentTime":"2025-01-27T14:30:00","username":"赵六","articleName":"马来西亚留学指南"}}}}}}}}}},"/api/article/add":{"post":{"tags":["文章管理"],"summary":"添加文章","description":"添加新的文章，包含标题、内容(放的是富文本)、作者等信息","operationId":"addArticle","requestBody":{"description":"文章信息","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleDetails"},"examples":{"请求示例":{"description":"请求示例","value":{"title":"泰国留学新政策解读","content":"泰国教育部最近发布了新的留学政策，主要变化包括：\n\n1. 简化签证申请流程\n2. 增加奖学金项目\n3. 优化课程设置\n4. 加强国际交流\n\n这些政策的变化将为中国学生留学泰国提供更多便利和机会。","writer":"陈老师"}}}}},"required":true},"responses":{"200":{"description":"添加成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"添加文章成功","data":{"articleId":103,"title":"泰国留学新政策解读","content":"泰国教育部最近发布了新的留学政策...","writer":"陈老师","viewCount":0,"commentCount":0,"createdAt":"2025-01-27T11:30:00"}}}}}}}}}},"/api/user/info":{"get":{"tags":["用户管理"],"summary":"获取用户信息","description":"获取当前登录用户的详细信息","operationId":"getUserInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseUsers"}}}}}}},"/api/section/sub/{subId}":{"get":{"tags":["板块管理"],"summary":"获取子板块详情","description":"根据子板块ID获取子板块的详细信息，包含关联的主板块和文章信息","operationId":"getSubSectionById","parameters":[{"name":"subId","in":"path","description":"子板块ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取子板块详情成功","data":{"subId":1,"mainId":1,"articleId":101,"subSectionName":"马来西亚留学","decriptions":"马来西亚留学相关资讯","mainSectionName":"留学资讯","articleName":"马来西亚留学指南"}}}}}}}}},"delete":{"tags":["板块管理"],"summary":"删除子板块","description":"根据子板块ID删除子板块，删除后该板块下的文章将不再显示在板块导航中","operationId":"deleteSubSection","parameters":[{"name":"subId","in":"path","description":"子板块ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"删除成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"删除子板块成功"}}}}}}}}},"/api/section/sub/main/{mainId}":{"get":{"tags":["板块管理"],"summary":"根据主板块获取子板块","description":"根据主板块ID获取该主板块下的所有子板块，用于构建板块层级结构","operationId":"getSubSectionsByMainId","parameters":[{"name":"mainId","in":"path","description":"主板块ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取子板块列表成功","data":[{"subId":1,"mainId":1,"articleId":101,"subSectionName":"马来西亚留学","decriptions":"马来西亚留学相关资讯","mainSectionName":"留学资讯","articleName":"马来西亚留学指南"},{"subId":2,"mainId":1,"articleId":102,"subSectionName":"新加坡留学","decriptions":"新加坡留学相关资讯","mainSectionName":"留学资讯","articleName":"新加坡留学攻略"}]}}}}}}}}},"/api/section/sub/list":{"get":{"tags":["板块管理"],"summary":"获取所有子板块","description":"获取所有分功能板块列表，包含关联的主板块和文章信息","operationId":"getAllSubSections","responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取子板块列表成功","data":[{"subId":1,"mainId":1,"articleId":101,"subSectionName":"马来西亚留学","decriptions":"马来西亚留学相关资讯","mainSectionName":"留学资讯","articleName":"马来西亚留学指南"},{"subId":2,"mainId":1,"articleId":102,"subSectionName":"新加坡留学","decriptions":"新加坡留学相关资讯","mainSectionName":"留学资讯","articleName":"新加坡留学攻略"},{"subId":3,"mainId":2,"articleId":201,"subSectionName":"马来亚大学","decriptions":"马来亚大学详细介绍","mainSectionName":"院校介绍","articleName":"马来亚大学介绍"}]}}}}}}}}},"/api/section/sub/article/{articleId}":{"get":{"tags":["板块管理"],"summary":"根据文章获取子板块","description":"根据文章ID获取包含该文章的所有子板块，用于文章详情页面的板块导航","operationId":"getSubSectionsByArticleId","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":101}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取子板块列表成功","data":[{"subId":1,"mainId":1,"articleId":101,"subSectionName":"马来西亚留学","decriptions":"马来西亚留学相关资讯","mainSectionName":"留学资讯","articleName":"马来西亚留学指南"}]}}}}}}}}},"/api/section/permission/user/{userId}":{"get":{"tags":["板块管理"],"summary":"获取用户权限","description":"根据用户ID获取该用户对所有主板块的权限列表，用于用户登录后显示可访问的功能模块","operationId":"getUserPermissionsByUserId","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取用户权限列表成功","data":[{"permissionId":1,"userId":1,"mainId":1,"permissionType":"admin","username":"admin","mainSectionName":"留学资讯"},{"permissionId":4,"userId":1,"mainId":2,"permissionType":"edit","username":"admin","mainSectionName":"院校介绍"}]}}}}}}}}},"/api/section/permission/main/{mainId}":{"get":{"tags":["板块管理"],"summary":"获取主板块权限","description":"根据主板块ID获取对该板块有权限的所有用户列表，用于板块管理员查看和管理","operationId":"getUserPermissionsByMainId","parameters":[{"name":"mainId","in":"path","description":"主板块ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取用户权限列表成功","data":[{"permissionId":1,"userId":1,"mainId":1,"permissionType":"admin","username":"admin","mainSectionName":"留学资讯"},{"permissionId":2,"userId":2,"mainId":1,"permissionType":"edit","username":"editor","mainSectionName":"留学资讯"}]}}}}}}}}},"/api/section/permission/list":{"get":{"tags":["板块管理"],"summary":"获取所有用户权限","description":"获取所有用户对主板块的权限列表，用于管理员查看和分配权限","operationId":"getAllUserPermissions","responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取用户权限列表成功","data":[{"permissionId":1,"userId":1,"mainId":1,"permissionType":"admin","username":"admin","mainSectionName":"留学资讯"},{"permissionId":2,"userId":2,"mainId":1,"permissionType":"edit","username":"editor","mainSectionName":"留学资讯"},{"permissionId":3,"userId":3,"mainId":2,"permissionType":"view","username":"user","mainSectionName":"院校介绍"}]}}}}}}}}},"/api/section/permission/check/user/{userId}/main/{mainId}":{"get":{"tags":["板块管理"],"summary":"检查用户权限","description":"检查用户是否有指定主板块的权限，用于前端权限控制和后端权限验证","operationId":"checkUserPermission","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"mainId","in":"path","description":"主板块ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"有权限","content":{"application/json":{"examples":{"有权限示例":{"description":"有权限示例","value":{"code":200,"message":"检查用户权限成功","data":{"permissionId":1,"userId":1,"mainId":1,"permissionType":"admin","username":"admin","mainSectionName":"留学资讯"}}}}}}},"403":{"description":"无权限","content":{"application/json":{"examples":{"无权限示例":{"description":"无权限示例","value":{"code":403,"message":"用户没有该权限","errorCode":"NO_PERMISSION"}}}}}}}}},"/api/section/main/{mainId}":{"get":{"tags":["板块管理"],"summary":"获取主板块详情","description":"根据主板块ID获取主板块的详细信息","operationId":"getMainSectionById","parameters":[{"name":"mainId","in":"path","description":"主板块ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取主板块详情成功","data":{"mainId":1,"mainSectionName":"留学资讯","enabled":true,"createdAt":"2025-01-27T10:00:00"}}}}}}},"404":{"description":"主板块不存在","content":{"application/json":{"examples":{"失败示例":{"description":"失败示例","value":{"code":404,"message":"主板块不存在","errorCode":"MAIN_SECTION_NOT_FOUND"}}}}}}}},"delete":{"tags":["板块管理"],"summary":"删除主板块","description":"根据主板块ID删除主板块，删除前会检查是否有关联的子板块","operationId":"deleteMainSection","parameters":[{"name":"mainId","in":"path","description":"主板块ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"删除成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"删除主板块成功"}}}}}}}}},"/api/section/main/list":{"get":{"tags":["板块管理"],"summary":"获取所有主板块","description":"获取所有主功能板块列表，如留学资讯、院校介绍、签证服务等","operationId":"getAllMainSections","responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取主板块列表成功","data":[{"mainId":1,"mainSectionName":"留学资讯","enabled":true,"createdAt":"2025-01-27T10:00:00"},{"mainId":2,"mainSectionName":"院校介绍","enabled":true,"createdAt":"2025-01-27T10:00:00"},{"mainId":3,"mainSectionName":"签证服务","enabled":false,"createdAt":"2025-01-27T10:00:00"}]}}}}}}}}},"/api/section/main/enabled/{enabled}":{"get":{"tags":["板块管理"],"summary":"根据启用状态获取主板块","description":"根据启用状态筛选主板块，用于前端显示或后台管理","operationId":"getMainSectionsByEnabled","parameters":[{"name":"enabled","in":"path","description":"是否启用","required":true,"schema":{"type":"boolean"},"example":true}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"启用状态示例":{"description":"启用状态示例","value":{"code":200,"message":"获取主板块列表成功","data":[{"mainId":1,"mainSectionName":"留学资讯","enabled":true,"createdAt":"2025-01-27T10:00:00"},{"mainId":2,"mainSectionName":"院校介绍","enabled":true,"createdAt":"2025-01-27T10:00:00"}]}}}}}}}}},"/api/content/{contentId}":{"get":{"tags":["内容管理"],"summary":"获取内容详情","description":"根据内容ID获取移动端内容的详细信息","operationId":"getContentById","parameters":[{"name":"contentId","in":"path","description":"内容ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取内容详情成功","data":{"contentId":1,"contentType":"留学资讯","title":"马来西亚留学指南","content":"马来西亚是一个多元文化的国家，拥有丰富的教育资源。马来西亚的大学在国际上享有良好的声誉，特别是马来亚大学、马来西亚国民大学等知名学府。\n\n留学马来西亚的优势：\n1. 教育质量高，国际认可度强\n2. 学费相对较低，生活成本适中\n3. 多元文化环境，有利于国际视野的培养\n4. 地理位置优越，距离中国较近\n\n申请流程：\n1. 选择学校和专业\n2. 准备申请材料\n3. 提交申请\n4. 获得录取通知书\n5. 办理签证\n6. 准备行前事宜","isActive":true,"createdAt":"2025-01-27T10:00:00","updatedAt":"2025-01-27T10:00:00"}}}}}}}}},"delete":{"tags":["内容管理"],"summary":"删除内容","description":"根据内容ID删除移动端内容","operationId":"deleteContent","parameters":[{"name":"contentId","in":"path","description":"内容ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"删除成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"删除内容成功"}}}}}}}}},"/api/content/type/{contentType}":{"get":{"tags":["内容管理"],"summary":"根据类型获取内容","description":"根据内容类型获取相关的移动端内容","operationId":"getContentsByType","parameters":[{"name":"contentType","in":"path","description":"内容类型","required":true,"schema":{"type":"string"},"example":"留学资讯"}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取内容成功","data":[{"contentId":1,"contentType":"留学资讯","title":"马来西亚留学指南","content":"马来西亚是一个多元文化的国家...","isActive":true,"createdAt":"2025-01-27T10:00:00","updatedAt":"2025-01-27T10:00:00"},{"contentId":4,"contentType":"留学资讯","title":"新加坡留学攻略","content":"新加坡作为亚洲四小龙之一...","isActive":true,"createdAt":"2025-01-24T14:20:00","updatedAt":"2025-01-24T14:20:00"}]}}}}}}}}},"/api/content/list":{"get":{"tags":["内容管理"],"summary":"获取所有内容","description":"获取所有移动端内容列表，包含内容的基本信息和状态","operationId":"getAllContents","responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取内容列表成功","data":[{"contentId":1,"contentType":"留学资讯","title":"马来西亚留学指南","content":"马来西亚是一个多元文化的国家...","isActive":true,"createdAt":"2025-01-27T10:00:00","updatedAt":"2025-01-27T10:00:00"},{"contentId":2,"contentType":"院校介绍","title":"马来亚大学介绍","content":"马来亚大学是马来西亚最古老的大学...","isActive":true,"createdAt":"2025-01-26T15:30:00","updatedAt":"2025-01-26T15:30:00"},{"contentId":3,"contentType":"签证服务","title":"学生签证申请指南","content":"申请马来西亚学生签证需要准备的材料...","isActive":false,"createdAt":"2025-01-25T09:15:00","updatedAt":"2025-01-25T09:15:00"}]}}}}}}}}},"/api/content/active/{isActive}":{"get":{"tags":["内容管理"],"summary":"根据激活状态获取内容","description":"根据激活状态筛选移动端内容","operationId":"getContentsByActive","parameters":[{"name":"isActive","in":"path","description":"是否激活","required":true,"schema":{"type":"boolean"},"example":true}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"激活状态示例":{"description":"激活状态示例","value":{"code":200,"message":"获取内容成功","data":[{"contentId":1,"contentType":"留学资讯","title":"马来西亚留学指南","content":"马来西亚是一个多元文化的国家...","isActive":true,"createdAt":"2025-01-27T10:00:00","updatedAt":"2025-01-27T10:00:00"},{"contentId":2,"contentType":"院校介绍","title":"马来亚大学介绍","content":"马来亚大学是马来西亚最古老的大学...","isActive":true,"createdAt":"2025-01-26T15:30:00","updatedAt":"2025-01-26T15:30:00"}]}}}}}}}}},"/api/article/{articleId}":{"get":{"tags":["文章管理"],"summary":"获取文章详情","description":"根据文章ID获取文章的详细信息，包含内容、作者、浏览次数等","operationId":"getArticleById","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":101}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取文章详情成功","data":{"articleId":101,"title":"马来西亚留学指南","content":"马来西亚是一个多元文化的国家，拥有丰富的教育资源。马来西亚的大学在国际上享有良好的声誉，特别是马来亚大学、马来西亚国民大学等知名学府。\n\n留学马来西亚的优势：\n1. 教育质量高，国际认可度强\n2. 学费相对较低，生活成本适中\n3. 多元文化环境，有利于国际视野的培养\n4. 地理位置优越，距离中国较近\n\n申请流程：\n1. 选择学校和专业\n2. 准备申请材料\n3. 提交申请\n4. 获得录取通知书\n5. 办理签证\n6. 准备行前事宜","writer":"张老师","viewCount":1250,"commentCount":15,"createdAt":"2025-01-27T10:00:00"}}}}}}},"404":{"description":"文章不存在","content":{"application/json":{"examples":{"失败示例":{"description":"失败示例","value":{"code":404,"message":"文章不存在","errorCode":"ARTICLE_NOT_FOUND"}}}}}}}},"delete":{"tags":["文章管理"],"summary":"删除文章","description":"根据文章ID删除文章，同时删除相关的评论、浏览记录和图片","operationId":"deleteArticle","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":101}],"responses":{"200":{"description":"删除成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"删除文章成功"}}}}}}}}},"/api/article/{articleId}/pictures":{"get":{"tags":["文章管理"],"summary":"获取文章图片","description":"获取指定文章的所有相关图片","operationId":"getArticlePictures","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":101}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取文章图片成功","data":[{"pictureId":1,"articleId":101,"pictureUrl":"https://example.com/images/malaysia-university-1.jpg","pictureDescription":"马来亚大学校园风光"},{"pictureId":2,"articleId":101,"pictureUrl":"https://example.com/images/malaysia-university-2.jpg","pictureDescription":"马来西亚留学生活照片"},{"pictureId":3,"articleId":101,"pictureUrl":"https://example.com/images/malaysia-university-3.jpg","pictureDescription":"马来西亚美食文化"}]}}}}}}}}},"/api/article/{articleId}/comments":{"get":{"tags":["文章管理"],"summary":"获取文章评论","description":"获取指定文章的所有评论，包含评论者信息和评论内容","operationId":"getArticleComments","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":101}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取评论成功","data":[{"commentId":1,"articleId":101,"userId":1,"commentContent":"这篇文章很有帮助，让我对马来西亚留学有了更清楚的了解。","commentTime":"2025-01-27T11:30:00","username":"张三","articleName":"马来西亚留学指南"},{"commentId":2,"articleId":101,"userId":2,"commentContent":"请问申请马来亚大学需要什么条件？","commentTime":"2025-01-27T12:15:00","username":"李四","articleName":"马来西亚留学指南"},{"commentId":3,"articleId":101,"userId":3,"commentContent":"学费大概是多少？有奖学金吗？","commentTime":"2025-01-27T13:45:00","username":"王五","articleName":"马来西亚留学指南"}]}}}}}}}}},"/api/article/{articleId}/comment/count":{"get":{"tags":["文章管理"],"summary":"获取评论数量","description":"获取指定文章的评论总数","operationId":"getCommentCount","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":101}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取评论数量成功","data":15}}}}}}}}},"/api/article/writer/{writer}":{"get":{"tags":["文章管理"],"summary":"根据作者查询文章","description":"根据作者姓名查询该作者的所有文章","operationId":"getArticlesByWriter","parameters":[{"name":"writer","in":"path","description":"作者姓名","required":true,"schema":{"type":"string"},"example":"张老师"}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"查询文章成功","data":[{"articleId":101,"title":"马来西亚留学指南","content":"马来西亚是一个多元文化的国家...","writer":"张老师","viewCount":1250,"commentCount":15,"createdAt":"2025-01-27T10:00:00"},{"articleId":104,"title":"马来西亚生活指南","content":"在马来西亚生活需要注意的事项...","writer":"张老师","viewCount":680,"commentCount":6,"createdAt":"2025-01-24T14:20:00"}]}}}}}}}}},"/api/article/list":{"get":{"tags":["文章管理"],"summary":"获取所有文章列表","description":"获取所有文章的列表，包含文章的基本信息和统计信息","operationId":"getAllArticles","responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取文章列表成功","data":[{"articleId":101,"title":"马来西亚留学指南","content":"马来西亚是一个多元文化的国家...","writer":"张老师","viewCount":1250,"commentCount":15,"createdAt":"2025-01-27T10:00:00"},{"articleId":102,"title":"新加坡留学攻略","content":"新加坡作为亚洲四小龙之一...","writer":"李老师","viewCount":980,"commentCount":8,"createdAt":"2025-01-26T15:30:00"},{"articleId":201,"title":"马来亚大学介绍","content":"马来亚大学是马来西亚最古老的大学...","writer":"王老师","viewCount":756,"commentCount":12,"createdAt":"2025-01-25T09:15:00"}]}}}}}}}}},"/api/article/count":{"get":{"tags":["文章管理"],"summary":"获取文章总数","description":"获取网站文章的总数量，用于统计和分页计算","operationId":"getArticleCount","responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取文章总数成功","data":25}}}}}}}}},"/api/article/comment/user/{userId}":{"get":{"tags":["文章管理"],"summary":"获取用户评论","description":"获取指定用户发表的所有评论","operationId":"getUserComments","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"获取成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"获取用户评论成功","data":[{"commentId":1,"articleId":101,"userId":1,"commentContent":"这篇文章很有帮助，让我对马来西亚留学有了更清楚的了解。","commentTime":"2025-01-27T11:30:00","username":"张三","articleName":"马来西亚留学指南"},{"commentId":5,"articleId":102,"userId":1,"commentContent":"新加坡的大学排名都很靠前，值得考虑。","commentTime":"2025-01-26T16:20:00","username":"张三","articleName":"新加坡留学攻略"}]}}}}}}}}},"/api/section/permission/{permissionId}":{"delete":{"tags":["板块管理"],"summary":"删除用户权限","description":"根据权限ID删除用户的特定权限，删除后用户将无法访问对应的板块","operationId":"deleteUserPermission","parameters":[{"name":"permissionId","in":"path","description":"权限ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"删除成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"删除用户权限成功"}}}}}}}}},"/api/section/permission/user/{userId}/main/{mainId}":{"delete":{"tags":["板块管理"],"summary":"删除用户特定权限","description":"根据用户ID和主板块ID删除用户的特定权限，用于批量权限管理","operationId":"deleteUserPermissionByUserAndMain","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"mainId","in":"path","description":"主板块ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"删除成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"删除用户权限成功"}}}}}}}}},"/api/article/picture/{pictureId}":{"delete":{"tags":["文章管理"],"summary":"删除文章图片","description":"根据图片ID删除文章图片","operationId":"deleteArticlePicture","parameters":[{"name":"pictureId","in":"path","description":"图片ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"删除成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"删除文章图片成功"}}}}}}}}},"/api/article/comment/{commentId}":{"delete":{"tags":["文章管理"],"summary":"删除评论","description":"根据评论ID删除评论，需要评论作者或管理员权限","operationId":"deleteComment","parameters":[{"name":"commentId","in":"path","description":"评论ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"删除成功","content":{"application/json":{"examples":{"成功示例":{"description":"成功示例","value":{"code":200,"message":"删除评论成功"}}}}}}}}}},"components":{"schemas":{"SectionSub":{"type":"object","properties":{"subId":{"type":"integer","format":"int32"},"mainId":{"type":"integer","format":"int32"},"articleId":{"type":"integer","format":"int32"},"subSectionName":{"type":"string"},"decriptions":{"type":"string"},"mainSectionName":{"type":"string"},"articleName":{"type":"string"}}},"UserMainSectionPermission":{"type":"object","properties":{"permissionId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"mainId":{"type":"integer","format":"int32"},"permissionType":{"type":"string"},"username":{"type":"string"},"mainSectionName":{"type":"string"}}},"SectionMain":{"type":"object","properties":{"mainId":{"type":"integer","format":"int32"},"mainSectionName":{"type":"string"},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"MobileContents":{"type":"object","properties":{"contentId":{"type":"integer","format":"int32"},"contentType":{"type":"string"},"contentTitle":{"type":"string"},"contentSummary":{"type":"string"},"contentUrl":{"type":"string"},"registryId":{"type":"integer","format":"int32"},"isActive":{"type":"boolean"},"sortOrder":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ArticleDetails":{"type":"object","properties":{"articleId":{"type":"integer","format":"int32"},"articleName":{"type":"string"},"articleContent":{"type":"string"},"articleWriter":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"apiResponseString":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"string","description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"LoginRequest":{"required":["password","username"],"type":"object","properties":{"username":{"type":"string","description":"用户名","example":"admin"},"password":{"type":"string","description":"密码","example":"123"}},"description":"登录请求参数"},"LoginResponse":{"type":"object","properties":{"token":{"type":"string","description":"访问令牌","example":"eyJhbGciOiJIUzI1NiJ9..."},"userId":{"type":"integer","description":"用户ID","format":"int32","example":1},"username":{"type":"string","description":"用户名","example":"admin"},"role":{"type":"string","description":"用户角色","example":"ADMIN"},"expiresIn":{"type":"integer","description":"令牌过期时间（毫秒）","format":"int64","example":86400000}},"description":"登录响应数据","nullable":true},"apiResponseLoginResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/LoginResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"ArticlesPic":{"type":"object","properties":{"pictureId":{"type":"integer","format":"int32"},"articleId":{"type":"integer","format":"int32"},"pictureUrl":{"type":"string"}}},"PageRequestDTO":{"type":"object","properties":{"page":{"type":"integer","description":"页码","format":"int32","example":1},"size":{"type":"integer","description":"每页大小","format":"int32","example":10},"keyword":{"type":"string","description":"搜索关键词"},"sortBy":{"type":"string","description":"排序字段"},"sortOrder":{"type":"string","description":"排序方向：asc/desc","example":"desc"},"offset":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"}},"description":"分页请求参数"},"ArticleComments":{"type":"object","properties":{"commentId":{"type":"integer","format":"int32"},"articleId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"comments":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"username":{"type":"string"},"articleName":{"type":"string"}}},"Users":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"username":{"type":"string"},"password":{"type":"string"},"role":{"type":"string"},"ipAddress":{"type":"string"},"wechatOpenid":{"type":"string"}},"description":"返回的数据内容","nullable":true},"apiResponseUsers":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/Users"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"}},"securitySchemes":{"BearerAuth":{"type":"http","description":"请输入JWT Token，格式：Bearer <token>","scheme":"bearer","bearerFormat":"JWT"}}}}