{"openapi":"3.0.1","info":{"title":"知马网信息综合服务系统API","description":"知马网信息综合服务Rest api文档","version":"1.0"},"servers":[{"url":"http://duducar.cloud:8888","description":"Generated server url"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"管理员角色管理","description":"管理员角色分发、撤回和查询接口"},{"name":"动态流","description":"动态流相关接口"},{"name":"IP地址","description":"获取客户端IP地址的接口"},{"name":"COS腾讯云图片管理","description":"腾讯云对象存储图片上传、删除接口"},{"name":"文章管理","description":"文章的查询、管理等接口"},{"name":"图片代理服务","description":"统一的图片访问代理，支持富文本中的图片动态鉴权"},{"name":"文章浏览量管理","description":"文章浏览量的统计、查询、管理接口"},{"name":"手机版知马网动态页面管理","description":"页面动态化相关接口"},{"name":"用户关注管理","description":"用户关注、粉丝、互相关注等功能的API接口"},{"name":"网络信息","description":"获取客户端IP地址信息的接口"},{"name":"用户权限查询","description":"用户权限信息查询接口"},{"name":"文章评论管理","description":"文章评论的增删改查接口"},{"name":"论坛主题管理","description":"论坛频道帖子相关操作接口"},{"name":"用户管理","description":"用户登录、注册、短信验证等接口"}],"paths":{"/api/articles/{articleId}":{"get":{"tags":["文章管理"],"summary":"获取文章详情","description":"根据文章ID获取文章的详细信息，包括文章内容、图片列表、评论列表、作者信息和关注状态","operationId":"getArticleDetail","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseArticleDetailWithAuthorResponse"}}}}}},"put":{"tags":["文章管理"],"summary":"更新文章信息","description":"根据文章ID更新文章信息，包括文章文本和图片的添加、替换、删除。\n\n**权限要求：** 需要 `article:post:edit` 权限\n\n**图片操作流程：**\n1. **添加图片**：先调用 `/api/cos/image/upload/common` 上传图片，获得URL后传递到 `imageUrlsToAdd`\n2. **替换图片**：传递 `imageReplacements` 数组，包含要替换的图片ID和新图片URL\n3. **删除图片**：在 `imageReplacements` 中将 `newImageUrl` 设置为空字符串 `\"\"`\n\n**获取图片ID的方法：**\n- 调用 `GET /api/articles/{articleId}` 获取文章详情\n- 从返回结果的 `images` 数组中获取 `pictureId`\n\n**上传图片的方法：**\n- 调用 `POST /api/cos/image/upload/common` 上传图片\n- 从返回结果的 `fixedCdnUrl` 字段获取图片URL","operationId":"updateArticle","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseArticleDetailWithAuthorResponse"}}}}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["文章管理"],"summary":"删除文章","description":"根据文章ID删除文章。由于数据库设置了ON DELETE CASCADE，删除文章时会自动删除相关的评论、点赞、浏览量、图片等数据。\n\n**权限要求：** 需要 `article:delete` 权限\n\n**删除范围：**\n- 文章基本信息（article_details表）\n- 文章评论（article_comments表）\n- 文章点赞（article_likes表）\n- 文章浏览量（article_views表）\n- 文章图片（articles_pic表）\n\n**注意事项：**\n- 删除操作不可逆，请谨慎操作\n- 删除后会自动验证相关数据是否已被级联删除","operationId":"deleteArticle","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{targetId}/unfollow":{"post":{"tags":["用户关注管理"],"summary":"取消关注","description":"当前用户取消关注指定用户","operationId":"unfollow","parameters":[{"name":"targetId","in":"path","description":"目标用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"401":{"description":"未登录","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}},"200":{"description":"操作成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}},"400":{"description":"参数错误","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{targetId}/follow":{"post":{"tags":["用户关注管理"],"summary":"关注用户","description":"当前用户关注指定用户","operationId":"follow","parameters":[{"name":"targetId","in":"path","description":"目标用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"401":{"description":"未登录","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}},"200":{"description":"操作成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}},"400":{"description":"参数错误","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}}},"security":[{"BearerAuth":[]}]}},"/api/user/send-sms":{"post":{"tags":["用户管理"],"summary":"发送短信验证码","description":"发送短信验证码，支持注册和登录场景。\n支持中国和马来西亚手机号格式，系统会自动标准化手机号。\n防刷机制：30秒内只能发送一次，验证码有效期5分钟。\n模拟环境：直接返回验证码内容，生产环境请移除code字段 \n短信类型：register=注册, login=登录,verify=验证\n手机号格式示例：+86 1 5 376201234、+60 1125 231 213","operationId":"sendSms","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendSmsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/user/register":{"post":{"tags":["用户管理"],"summary":"用户注册","description":"用户注册接口，仅支持手机号验证码注册，注册成功后直接登录。\n系统会自动生成昵称和随机密码。\n返回的登录信息可直接用于API访问，随机密码可用于账号安全管理。","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseRegisterResponse"}}}}}}},"/api/user/refresh":{"post":{"tags":["用户管理"],"summary":"刷新访问令牌","description":"使用refreshToken刷新accessToken，实现长期登录。\n当accessToken过期时，客户端应该自动调用此接口刷新令牌。\n注意：每次刷新都会返回新的refreshToken（Token轮换机制）","operationId":"refreshToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseTokenResponse"}}}}}}},"/api/user/logout":{"post":{"tags":["用户管理"],"summary":"用户登出","description":"用户登出接口，撤销当前会话的所有Token","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/user/logout-others":{"post":{"tags":["用户管理"],"summary":"登出其他设备","description":"撤销用户在其他设备上的登录会话，保留当前设备","operationId":"logoutOthers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/user/logout-all":{"post":{"tags":["用户管理"],"summary":"登出所有设备","description":"撤销用户在所有设备上的登录会话","operationId":"logoutAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/user/login":{"post":{"tags":["用户管理"],"summary":"用户登录","description":"用户登录接口，支持中国和马来西亚手机号登录：\n1. 手机号+密码（type=password, phone=手机号, identifier=密码）\n2. 手机号+验证码（type=sms, phone=手机号, identifier=验证码）\n支持的手机号格式：\n- 中国：直接输入11位数字(如15365201234)，系统自动转为+86格式\n- 马来西亚：输入01开头或直接输入(如01125231234)，系统自动转为+60格式\n- 也支持直接传入国际格式(如+86 15365201234, +60 1125231234)\n注意：短信验证码登录时，如果用户不存在会自动创建账户\n返回双Token：accessToken（15分钟）和refreshToken（30天）","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseLoginResponse"}}}}}}},"/api/user/delete-account":{"post":{"tags":["用户管理"],"summary":"账号注销","description":"删除当前用户账号及相关数据\n注销内容：\n1. 删除用户账号信息\n2. 删除用户发布的所有文章\n3. 删除文章相关的图片、点赞、浏览记录等\n4. 用户评论保留，但显示为'用户已注销'\n5. 清除登录状态\n警告：此操作不可逆，请谨慎操作！","operationId":"deleteAccount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/user/change-password":{"post":{"tags":["用户管理"],"summary":"修改密码","description":"通过手机号和短信验证码修改用户密码，同时支持密码找回功能\n使用场景：\n1. 用户忘记密码需要重置密码\n2. 用户主动修改密码\n注意：修改密码后，用户需要重新登录","operationId":"changePassword","parameters":[{"name":"phone","in":"query","description":"手机号（支持国际格式和带空格）","required":true,"schema":{"type":"string"},"example":"+86 1 5 376201234"},{"name":"verificationCode","in":"query","description":"短信验证码","required":true,"schema":{"type":"string"},"example":123456},{"name":"newPassword","in":"query","description":"新密码（长度不少于6位）","required":true,"schema":{"type":"string"},"example":"newPassword123"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/feed/like":{"post":{"tags":["动态流"],"summary":"点赞/取消点赞","description":"切换文章的点赞状态","operationId":"toggleLike","parameters":[{"name":"articleId","in":"query","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"query","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/cos/image/url/batch-generate":{"post":{"tags":["COS腾讯云图片管理"],"summary":"批量生成图片URL","description":"根据对象key列表批量生成用于展示的CDN鉴权URL。\n\n## 📋 返回说明\n- **objectKeys**: 输入的对象key列表\n- **cdnAuthUrls**: 生成的CDN鉴权URL列表，可直接访问\n- **expirationMinutes**: 过期时间（分钟）\n- **count**: 成功生成的URL数量\n\n## ⚠️ 注意事项\n- URL有过期时间限制，过期后需要重新生成\n- 过期时间范围：1-1440分钟（1分钟到24小时）","operationId":"generateBatchImageUrls","parameters":[{"name":"expirationMinutes","in":"query","description":"过期时间（分钟），默认30分钟","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"对象key列表","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/cos/image/upload/richtext":{"post":{"tags":["COS腾讯云图片管理"],"summary":"富文本编辑器图片上传","description":"专为富文本编辑器设计的图片上传接口，上传后立即返回代理URL供编辑器预览使用","operationId":"uploadRichTextImage","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"图片文件","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringString"}}}}}}},"/api/cos/image/upload/common":{"post":{"tags":["COS腾讯云图片管理"],"summary":"上传通用图片","description":"上传通用图片到腾讯云COS的common目录。**专为富文本编辑器优化**：上传后立即返回代理URL，供富文本编辑器预览使用。\n\n## 🎯 适用场景\n- **富文本编辑器图片上传**：用户在富文本编辑框中拖拽或粘贴图片时调用\n- **通用图片上传**：任何需要上传图片的场景\n\n## 📋 返回说明\n- **objectKey**: 图片在COS中的对象键，用于后续引用\n- **proxyUrl**: 代理URL，富文本编辑器使用此URL显示图片（不会过期）\n- **richTextUrl**: 同proxyUrl，专为富文本编辑器提供\n- **realCdnUrl**: 真实可访问的CDN鉴权URL，可直接访问\n- **cdnUrl**: CDN固定URL（可能需要特殊权限访问）\n- **fixedCdnUrl**: 同cdnUrl\n\n## ⚠️ 重要说明\n- 图片上传后**不会立即保存到数据库**\n- 只有在发布文章时，才会将图片信息保存到articles_pic表\n- 富文本编辑器请使用返回的`proxyUrl`或`richTextUrl`字段","operationId":"uploadCommonImage","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"通用图片文件","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringString"}}}}}}},"/api/cos/image/upload/avatar":{"post":{"tags":["COS腾讯云图片管理"],"summary":"上传用户头像","description":"上传用户头像到腾讯云COS的avatar目录。\n\n## 📋 返回说明\n- **objectKey**: 图片在COS中的对象键\n- **proxyUrl**: 代理URL，不会过期\n- **richTextUrl**: 同proxyUrl\n- **realCdnUrl**: 真实可访问的CDN鉴权URL，可直接访问\n- **cdnUrl**: CDN固定URL\n- **fixedCdnUrl**: 同cdnUrl","operationId":"uploadAvatarImage","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"用户头像文件","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringString"}}}}}}},"/api/cos/image/upload/advertisement":{"post":{"tags":["COS腾讯云图片管理"],"summary":"上传广告图片","description":"上传广告图片到腾讯云COS的advertisements目录。\n\n## 📋 返回说明\n- **objectKey**: 图片在COS中的对象键\n- **proxyUrl**: 代理URL，不会过期\n- **richTextUrl**: 同proxyUrl\n- **realCdnUrl**: 真实可访问的CDN鉴权URL，可直接访问\n- **cdnUrl**: CDN固定URL\n- **fixedCdnUrl**: 同cdnUrl","operationId":"uploadAdvertisementImage","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"广告图片文件","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringString"}}}}}}},"/api/channels/{channelId}/topics":{"post":{"tags":["论坛主题管理"],"summary":"创建新帖子","description":"在指定频道创建新的论坛帖子，支持草稿和直接发布两种模式。用户需要具备在该频道发帖的权限。","operationId":"createTopic","parameters":[{"name":"channelId","in":"path","description":"频道ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicCreateReq"}}},"required":true},"responses":{"401":{"description":"未登录或登录已过期","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"未登录或登录已过期","data":null,"errorCode":"UNAUTHORIZED","debugInfo":null}}}},"200":{"description":"操作成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"examples":{"发布成功":{"description":"发布成功","value":{"status":"success","message":"发布成功","data":null,"errorCode":null,"debugInfo":null}},"草稿保存成功":{"description":"草稿保存成功","value":{"status":"success","message":"草稿已保存","data":null,"errorCode":null,"debugInfo":null}}}}}},"500":{"description":"服务器内部错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"error","message":"创建帖子失败","data":null,"errorCode":"SERVER_ERROR","debugInfo":"具体错误信息"}}}},"403":{"description":"没有发帖权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"您没有在该频道发帖的权限","data":null,"errorCode":"FORBIDDEN","debugInfo":null}}}}},"security":[{"BearerAuth":[]}]}},"/api/channels/{channelId}/topics/{articleId}/unpin":{"post":{"tags":["论坛主题管理"],"summary":"取消置顶帖子","description":"将指定频道的帖子取消置顶状态，只有具备频道管理权限的用户才能执行此操作。需要 FORUM_ADMIN、FORUM_MOD 或 SYS_ADMIN 权限。","operationId":"unpin","parameters":[{"name":"channelId","in":"path","description":"频道ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"articleId","in":"path","description":"帖子ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"403":{"description":"没有频道管理权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"您没有该频道的管理权限","data":null,"errorCode":"FORBIDDEN","debugInfo":null}}}},"500":{"description":"服务器内部错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"error","message":"取消置顶失败","data":null,"errorCode":"SERVER_ERROR","debugInfo":"具体错误信息"}}}},"401":{"description":"未登录或登录已过期","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"未登录或登录已过期","data":null,"errorCode":"UNAUTHORIZED","debugInfo":null}}}},"404":{"description":"帖子不存在","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"帖子不存在","data":null,"errorCode":"NOT_FOUND","debugInfo":null}}}},"200":{"description":"取消置顶成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"success","message":"已取消置顶","data":null,"errorCode":null,"debugInfo":null}}}}},"security":[{"BearerAuth":[]}]}},"/api/channels/{channelId}/topics/{articleId}/pin":{"post":{"tags":["论坛主题管理"],"summary":"置顶帖子","description":"将指定频道的帖子设置为置顶状态，只有具备频道管理权限的用户才能执行此操作。需要 FORUM_ADMIN、FORUM_MOD 或 SYS_ADMIN 权限。","operationId":"pin","parameters":[{"name":"channelId","in":"path","description":"频道ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"articleId","in":"path","description":"帖子ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"403":{"description":"没有频道管理权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"您没有该频道的管理权限","data":null,"errorCode":"FORBIDDEN","debugInfo":null}}}},"500":{"description":"服务器内部错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"error","message":"置顶失败","data":null,"errorCode":"SERVER_ERROR","debugInfo":"具体错误信息"}}}},"401":{"description":"未登录或登录已过期","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"未登录或登录已过期","data":null,"errorCode":"UNAUTHORIZED","debugInfo":null}}}},"200":{"description":"置顶成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"success","message":"已置顶","data":null,"errorCode":null,"debugInfo":null}}}},"404":{"description":"帖子不存在","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"帖子不存在","data":null,"errorCode":"NOT_FOUND","debugInfo":null}}}}},"security":[{"BearerAuth":[]}]}},"/api/articles/{articleId}/views/init":{"post":{"tags":["文章浏览量管理"],"summary":"设置浏览量初始值","description":"管理员专用接口，设置文章的初始浏览量基线值","operationId":"setInitial","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"initial","in":"query","description":"初始浏览量值","required":true,"schema":{"type":"integer","format":"int64"},"example":1000}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/articles/{articleId}/views/incr":{"post":{"tags":["文章浏览量管理"],"summary":"调整浏览量","description":"管理员专用接口，用于特殊场景下的浏览量调整（如活动推广、人工修正等）","operationId":"addByAdmin","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"delta","in":"query","description":"浏览量增量，正数表示增加，负数表示减少","required":true,"schema":{"type":"integer","format":"int64"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/articles/{articleId}/views/hit":{"post":{"tags":["文章浏览量管理"],"summary":"记录文章浏览量","description":"记录用户查看文章的行为，支持防刷机制。60秒内同一用户重复点击不会重复计数","operationId":"hit","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"X-User-Id","in":"header","description":"用户ID，用于已登录用户的身份识别,前端如果是已登录的化，就传这个id","required":false,"schema":{"type":"string"},"example":123},{"name":"X-Session-Id","in":"header","description":"会话ID，用于未登录用户的身份识别，","required":false,"schema":{"type":"string"},"example":"session_abc123"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/articles/{articleId}/comments":{"get":{"tags":["文章评论管理"],"summary":"获取文章评论列表","description":"分页获取指定文章的评论列表，支持根评论和子评论的树状结构","operationId":"list","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"limit","in":"query","description":"每页评论数量","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"offset","in":"query","description":"分页偏移量，表示从第几条评论开始获取。例如：offset=0表示从第1条开始，offset=10表示从第11条开始，offset=20表示从第21条开始。通常计算公式：offset = (页码 - 1) × limit","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}},"post":{"tags":["文章评论管理"],"summary":"添加根评论","description":"为指定文章添加一条根评论","operationId":"addRoot","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"userId","in":"query","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"text","in":"query","description":"评论内容","required":true,"schema":{"type":"string"},"example":"这是一条评论"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/articles/{articleId}/comments/reply":{"post":{"tags":["文章评论管理"],"summary":"添加回复评论","description":"为指定的根评论添加一条回复评论","operationId":"addReply","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"userId","in":"query","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"parentId","in":"query","description":"父评论ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"text","in":"query","description":"回复内容","required":true,"schema":{"type":"string"},"example":"这是一条回复"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/articles/publish":{"post":{"tags":["文章管理"],"summary":"发布文章（前端优化版）","description":"**专为前端富文本编辑器设计的文章发布接口**，支持富文本和普通文章两种模式。\n\n## 🚀 前端调用流程\n\n### 📝 富文本编辑器模式（推荐）\n```javascript\n// 1. 用户在富文本编辑器中拖拽/粘贴图片时\n// 富文本编辑器自动调用：POST /api/cos/image/upload/common\n// 返回: { objectKey: 'common/xxx.jpg', proxyUrl: '/api/image/proxy/common/xxx.jpg' }\n// 编辑器立即显示图片，用户可预览\n\n// 2. 用户编辑完成，点击发布文章\n// 前端收集富文本中的图片objectKey，调用发布接口\nconst richTextImageKeys = extractImageKeysFromRichText(editorContent);\npublishArticle({\n  editType: 1,\n  articleContent: editorContent, // 包含代理URL的HTML\n  richTextImageKeys: richTextImageKeys // 图片objectKey列表\n});\n```\n\n### 📄 普通文章模式\n```javascript\n// 用户选择附件图片，直接发布\npublishArticle({\n  editType: 2,\n  articleContent: textContent, // 纯文本\n  imageFiles: selectedFiles // 图片文件数组\n});\n```\n\n## 📋 核心参数说明\n\n### 必填参数\n- **editType**: 编辑类型（1=富文本，2=普通文章）\n- **articleName**: 文章标题\n- **articleContent**: 文章内容\n- **contentType**: 文章类型（1=文章，2=论坛帖，3=小红书流帖，4=留学圈）\n\n### 🔑 关键参数：richTextImageKeys\n- **作用**: 富文本模式下，传递图片的objectKey列表\n- **来源**: 从富文本编辑器内容中提取的图片标识\n- **示例**: `[\"common/20250907145243_9d8f.jpg\", \"common/20250907145244_abc1.jpg\"]`\n- **重要**: 只有传递了这个参数，图片才会保存到数据库中\n\n### 可选参数\n- **articleWriter**: 作者笔名\n- **channelId**: 频道ID\n- **imageFiles**: 附件图片（仅普通文章模式）\n- **coverImage**: 封面图片\n- **isTop**: 是否置顶\n- **isAds**: 是否是赞助商广告\n\n## ⚠️ 重要说明\n- **图片懒保存**: 图片上传时不保存到数据库，只有发布文章时才保存\n- **即时预览**: 富文本编辑器上传后立即可预览，无需等待发布\n- **前端责任**: 前端需要从富文本内容中提取并传递richTextImageKeys\n- **数据一致性**: 确保richTextImageKeys与articleContent中的图片一致","operationId":"publishArticle","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ArticlePublishRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseArticleDetailWithAuthorResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/api/articles/publish/legacy":{"post":{"tags":["文章管理"],"summary":"发布文章（旧版本）","description":"旧版发布接口，保留兼容性。建议使用新版 `/publish` 接口。\n\n**权限要求：** 需要 `article:post` 权限\n\n**发布流程：**\n1. **基本信息**：传递文章标题和内容\n2. **频道选择**：可选择传递 channelId 发布到指定频道，不传则作为普通文章\n3. **图片上传**：先调用 `/api/cos/image/upload/common` 上传图片，获得URL后传递到 `imageUrls`\n4. **作者信息**：自动从当前登录用户获取，优先使用昵称，昵称为空则使用用户名\n5. **置顶设置**：传递 `isTop` 为 true 可设置文章置顶\n6. **广告设置**：传递 `isAds` 为 true 可设置文章为赞助商广告\n\n**图片处理：**\n- 最多支持9张图片\n- 图片URL需要先通过上传接口获取\n- 建议使用腾讯云COS返回的CDN URL\n\n**置顶和加精说明：**\n- **置顶**：置顶文章会在列表顶部显示，优先级高于普通文章\n- **加精**：加精文章会有特殊标识，表示内容质量较高\n- 置顶和加精功能通常需要管理员权限，普通用户可能无法使用\n- 置顶文章数量有限制，建议合理使用\n\n**注意事项：**\n- 需要用户登录才能发布文章\n- 文章标题和内容为必填项\n- 发布后文章状态默认为已发布","operationId":"createArticle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseArticleDetailWithAuthorResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/api/admin/roles/revoke/scoped":{"post":{"tags":["管理员角色管理"],"summary":"撤回范围角色","operationId":"revokeScoped","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantScopedReq"}}},"required":true},"responses":{"400":{"description":"请求参数错误","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"200":{"description":"撤回成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"403":{"description":"权限不足，需要sys:admin权限","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/admin/roles/revoke/global":{"post":{"tags":["管理员角色管理"],"summary":"撤回全局角色","operationId":"revokeGlobal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantGlobalReq"}}},"required":true},"responses":{"400":{"description":"请求参数错误","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"200":{"description":"撤回成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"403":{"description":"权限不足，需要sys:admin权限","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/admin/roles/grant/scoped":{"post":{"tags":["管理员角色管理"],"summary":"授予范围角色","operationId":"grantScoped","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantScopedReq"}}},"required":true},"responses":{"200":{"description":"授予成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"403":{"description":"权限不足，需要sys:admin权限","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"400":{"description":"请求参数错误或角色/范围不存在","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/admin/roles/grant/global":{"post":{"tags":["管理员角色管理"],"summary":"授予全局角色","operationId":"grantGlobal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantGlobalReq"}}},"required":true},"responses":{"400":{"description":"请求参数错误或角色不存在","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"200":{"description":"授予成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"403":{"description":"权限不足，需要sys:admin权限","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/image/proxy/**":{"options":{"tags":["图片代理服务"],"operationId":"handleProxyOptions","responses":{"200":{"description":"OK"}}}},"/api/users/{userId}/following":{"get":{"tags":["用户关注管理"],"summary":"获取关注列表","description":"获取指定用户关注的用户列表，支持游标分页","operationId":"following","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123},{"name":"cursorTime","in":"query","description":"游标时间，格式：2025-09-05 12:00:00","required":false,"schema":{"type":"string"}},{"name":"cursorId","in":"query","description":"游标ID，上次最后一条的用户ID","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"每页数量，最大100","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{userId}/followers":{"get":{"tags":["用户关注管理"],"summary":"获取粉丝列表","description":"获取指定用户的粉丝列表，支持游标分页","operationId":"followers","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123},{"name":"cursorTime","in":"query","description":"游标时间，格式：2025-09-05 12:00:00","required":false,"schema":{"type":"string"}},{"name":"cursorId","in":"query","description":"游标ID，上次最后一条的用户ID","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"每页数量，最大100","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{userId}/follow-counts":{"get":{"tags":["用户关注管理"],"summary":"获取关注统计","description":"获取指定用户的粉丝数和关注数统计","operationId":"counts","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringLong"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{targetUserId}/mutual-follow-status":{"get":{"tags":["用户关注管理"],"summary":"获取互相关注状态","description":"获取当前用户与指定用户之间的互相关注状态","operationId":"getMutualFollowStatus","parameters":[{"name":"targetUserId","in":"path","description":"目标用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"400":{"description":"参数错误","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMutualFollowStatus"}}}},"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMutualFollowStatus"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{targetId}/is-following":{"get":{"tags":["用户关注管理"],"summary":"检查关注状态","description":"检查当前用户是否已关注指定用户","operationId":"isFollowing","parameters":[{"name":"targetId","in":"path","description":"目标用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringBoolean"}}}}},"security":[{"BearerAuth":[]}]}},"/api/user/sessions":{"get":{"tags":["用户管理"],"summary":"获取活跃会话列表","description":"获取当前用户在所有设备上的活跃登录会话","operationId":"getActiveSessions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseListMapStringObject"}}}}}}},"/api/user/permissions/sections":{"get":{"tags":["用户权限查询"],"summary":"获取用户权限信息（按板块展开）","operationId":"getUserPermissions","responses":{"500":{"description":"服务器错误","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseUserPermissionResponse"}}}},"401":{"description":"未授权","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseUserPermissionResponse"}}}},"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseUserPermissionResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/api/user/info":{"get":{"tags":["用户管理"],"summary":"获取当前用户的基本信息","description":"获取当前登录用户的详细信息","operationId":"getUserInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseUsers"}}}}}}},"/api/user/check-phone":{"get":{"tags":["用户管理"],"summary":"检查手机号是否可用","description":"检查手机号是否已被注册，支持中国和马来西亚手机号格式\n手机号格式示例：+86 1 5 376201234、+60 1125 231 213","operationId":"checkPhone","parameters":[{"name":"phone","in":"query","description":"手机号（支持国际格式和带空格）","required":true,"schema":{"type":"string"},"example":"+86 1 5 376201234"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/page/list":{"get":{"tags":["手机版知马网动态页面管理"],"summary":"获取首页页面上标题按钮","description":"首页的所有分类页面按钮，前7个固定","operationId":"getAllPages","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseListPage"}}}}}}},"/api/page/compose":{"get":{"tags":["手机版知马网动态页面管理"],"summary":"按页面编排返回大JSON，仅限首页的栏目","description":"根据页面ID(pageId)与类型(type)拼装页面的组件数据，type默认为0(手机端)","operationId":"compose","parameters":[{"name":"pageId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponsePageResponse"}}}}}}},"/api/network/ip-only":{"get":{"tags":["网络信息"],"summary":"仅获取客户端IP地址","description":"仅获取客户端的IP地址信息，包括真实IP、代理IP和归属地信息--仅放在服务器上才能获取到真实IP，放在本地测试只能获取到0.0.0.0","operationId":"getClientIpOnly","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/image/proxy/validate":{"get":{"tags":["图片代理服务"],"summary":"验证对象key","description":"验证对象key是否有效","operationId":"validateObjectKey","parameters":[{"name":"objectKey","in":"query","description":"对象key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/image/proxy/debug/{directory}/{filename}":{"get":{"tags":["图片代理服务"],"summary":"图片代理调试接口","description":"返回JSON格式的调试信息，包含生成的CDN URL等，用于Swagger调试","operationId":"debugProxyImage","parameters":[{"name":"directory","in":"path","description":"目录名","required":true,"schema":{"type":"string"},"example":"common"},{"name":"filename","in":"path","description":"文件名","required":true,"schema":{"type":"string"},"example":"20250907145243_9d8fafbc.jpg"},{"name":"expire","in":"query","description":"过期时间（秒），可选参数，默认使用系统配置","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/get-ip":{"get":{"tags":["IP地址"],"summary":"获取客户端IP地址","description":"获取客户端真实IP地址，优先级：X-Forwarded-For > X-Real-IP > RemoteAddr","operationId":"getClientIp","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/feed/like-count":{"get":{"tags":["动态流"],"summary":"获取文章点赞数","description":"获取指定文章的点赞数量","operationId":"getLikeCount","parameters":[{"name":"articleId","in":"query","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/cos/image/list":{"get":{"tags":["COS腾讯云图片管理"],"summary":"获取所有图片列表","description":"获取所有目录下的图片对象key列表","operationId":"getAllImages","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringListString"}}}}}}},"/api/cos/image/cdn-auth-url":{"get":{"tags":["COS腾讯云图片管理"],"summary":"生成CDN鉴权URL","description":"根据对象key生成CDN鉴权URL","operationId":"generateCdnAuthUrl","parameters":[{"name":"objectKey","in":"query","description":"对象key","required":true,"schema":{"type":"string"}},{"name":"expireTime","in":"query","description":"过期时间（秒），默认3600秒（1小时）","required":false,"schema":{"type":"integer","format":"int64","default":3600}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringString"}}}}}}},"/api/articles":{"get":{"tags":["文章管理"],"summary":"获取文章列表","description":"根据页面类型或频道ID获取文章列表，支持分页和随机排序。优先根据channelId获取频道文章，如果channelId为空则根据pageId获取文章","operationId":"getArticleList","parameters":[{"name":"pageId","in":"query","description":"页面类型ID：对应pages表的page_id，如1=热门, 2=财经, 3=投资圈, 4=小红书, 5=留学圈等，不传=所有页面类型","required":false,"schema":{"type":"integer","format":"int32"},"example":4},{"name":"channelId","in":"query","description":"频道ID，如果传入则优先根据频道ID获取文章，忽略pageId参数。传入-1等同于不传入频道ID","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"limit","in":"query","description":"每页文章数量","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"offset","in":"query","description":"分页偏移量，表示从第几篇文章开始获取。例如：offset=0表示从第1篇开始，offset=10表示从第11篇开始，offset=20表示从第21篇开始。通常计算公式：offset = (页码 - 1) × limit","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"randomSeed","in":"query","description":"随机种子：传入相同的种子值可确保随机顺序在分页间保持一致。不传则按时间倒序排列。建议使用时间戳或UUID","required":false,"schema":{"type":"integer","format":"int32"},"example":12345}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}}}}},"/api/articles/{articleId}/views":{"get":{"tags":["文章浏览量管理"],"summary":"获取文章浏览量","description":"获取指定文章的当前总浏览量，包含数据库基线和Redis增量","operationId":"getCount","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringLong"}}}}}}},"/api/articles/random-seed":{"get":{"tags":["文章管理"],"summary":"生成随机种子","description":"为随机排序生成一个随机种子值，确保客户端可以在多次分页请求中保持一致的随机顺序","operationId":"generateRandomSeed","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/articles/channels":{"get":{"tags":["文章管理"],"summary":"获取频道列表","description":"根据页面类型获取对应的频道列表，用于页面筛选功能","operationId":"getChannels","parameters":[{"name":"pageId","in":"query","description":"页面类型ID：4=小红书, 5=留学圈等，用于确定查询哪个专属频道下的子频道","required":true,"schema":{"type":"integer","format":"int32"},"example":5}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseListMapStringObject"}}}}}}},"/api/admin/roles/users/{userId}":{"get":{"tags":["管理员角色管理"],"summary":"查询用户角色","operationId":"listUserRoles","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"400":{"description":"用户ID无效","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"403":{"description":"权限不足，需要sys:admin权限","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/admin/roles/users/{userId}/permissions":{"get":{"tags":["管理员角色管理"],"summary":"查询用户权限详情","operationId":"getUserPermissions_1","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"400":{"description":"用户ID无效","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"403":{"description":"权限不足，需要sys:admin权限","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/admin/roles/list":{"get":{"tags":["管理员角色管理"],"summary":"获取支持的角色列表","operationId":"listAllRoles","responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"403":{"description":"权限不足，需要sys:admin权限","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/admin/roles/channels":{"get":{"tags":["管理员角色管理"],"summary":"获取频道列表","operationId":"listChannels","responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}},"403":{"description":"权限不足，需要sys:admin权限","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/cos/image/delete":{"delete":{"tags":["COS腾讯云图片管理"],"summary":"删除图片","description":"从腾讯云COS中删除指定图片","operationId":"deleteImage","parameters":[{"name":"imageUrl","in":"query","description":"图片URL","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}}},"components":{"schemas":{"ArticleUpdateRequest":{"type":"object","properties":{"articleId":{"type":"integer","description":"文章ID","format":"int32","readOnly":true,"example":1},"articleName":{"type":"string","description":"文章标题","example":"更新后的文章标题"},"articleContent":{"type":"string","description":"文章内容","example":"这是更新后的文章内容..."},"imageUrlsToAdd":{"type":"array","description":"要添加的图片URL列表","example":["https://example.com/image1.jpg","https://example.com/image2.jpg"],"items":{"type":"string","description":"要添加的图片URL列表","example":"[\"https://example.com/image1.jpg\",\"https://example.com/image2.jpg\"]"}},"imageReplacements":{"type":"array","description":"要替换的图片映射列表（空字符串表示删除）","example":[{"imageId":1,"newImageUrl":"https://example.com/new-image.jpg"},{"imageId":2,"newImageUrl":""}],"items":{"$ref":"#/components/schemas/ImageReplacement"}}},"description":"文章更新请求，包含要更新的文章内容和图片操作信息"},"ImageReplacement":{"required":["imageId","newImageUrl"],"type":"object","properties":{"imageId":{"type":"integer","description":"要替换的图片ID","format":"int32","example":1},"newImageUrl":{"type":"string","description":"新的图片URL（空字符串表示删除）","example":"https://example.com/new-image.jpg"}},"description":"图片替换信息","example":[{"imageId":1,"newImageUrl":"https://example.com/new-image.jpg"},{"imageId":2,"newImageUrl":""}]},"ArticleCommentDetail":{"type":"object","properties":{"commentId":{"type":"integer","format":"int32"},"parentId":{"type":"integer","format":"int32"},"articleId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"comments":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"userAvatar":{"type":"string"},"ipLocation":{"type":"string"}}},"ArticleDetailWithAuthorResponse":{"type":"object","properties":{"articleId":{"type":"integer","format":"int32"},"articleName":{"type":"string"},"articleContent":{"type":"string"},"articleWriter":{"type":"string"},"contentType":{"type":"integer","format":"int32"},"channelId":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"},"isTop":{"type":"integer","format":"int32"},"isAds":{"type":"integer","format":"int32"},"replyCount":{"type":"integer","format":"int32"},"viewCount":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastReplyAt":{"type":"string","format":"date-time"},"images":{"type":"array","items":{"$ref":"#/components/schemas/ArticleImage"}},"comments":{"type":"array","items":{"$ref":"#/components/schemas/ArticleCommentDetail"}},"author":{"$ref":"#/components/schemas/AuthorInfo"},"followStatus":{"$ref":"#/components/schemas/FollowStatus"}},"description":"返回的数据内容","nullable":true},"ArticleImage":{"type":"object","properties":{"pictureId":{"type":"integer","format":"int32"},"pictureUrl":{"type":"string"}}},"AuthorInfo":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"username":{"type":"string"},"nickname":{"type":"string"},"role":{"type":"string"},"ipAddress":{"type":"string"},"wechatOpenid":{"type":"string"},"userAvatar":{"type":"string"}}},"FollowStatus":{"type":"object","properties":{"isFollowing":{"type":"boolean"},"isFollowedBy":{"type":"boolean"},"isMutualFollow":{"type":"boolean"},"followersCount":{"type":"integer","format":"int64"},"followingCount":{"type":"integer","format":"int64"}}},"apiResponseArticleDetailWithAuthorResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/ArticleDetailWithAuthorResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseVoid":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"SendSmsRequest":{"required":["phone","type"],"type":"object","properties":{"phone":{"type":"string","description":"手机号（支持国际格式，如+86 15365201234或+60 1125231234）","example":"+86 15365201234"},"type":{"type":"string","description":"短信类型：register=注册, login=登录,verify=验证","example":"register","enum":["register","login","verify"]}},"description":"发送短信验证码请求"},"apiResponseMapStringObject":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"object","description":"返回的数据内容","nullable":true},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"UserRegisterRequest":{"required":["code","phone"],"type":"object","properties":{"phone":{"type":"string","description":"手机号（支持国际格式，如+86 15365201234或+60 1125231234）","example":"+86 15365201234"},"code":{"pattern":"^\\d{6}$","type":"string","description":"验证码","example":"123456"}},"description":"用户注册请求"},"LoginResponse":{"type":"object","properties":{"token":{"type":"string","description":"访问令牌","example":"eyJhbGciOiJIUzI1NiJ9..."},"refreshToken":{"type":"string","description":"刷新令牌","example":"abc123def456..."},"sessionId":{"type":"string","description":"会话ID","example":"01HKQR7XVZM2P8Q9W3E5T7Y6N4"},"userId":{"type":"integer","description":"用户ID","format":"int32","example":1},"username":{"type":"string","description":"用户名","example":"admin"},"role":{"type":"string","description":"用户角色","example":"USER"},"nickname":{"type":"string","description":"用户昵称","example":"测试用户"},"phone":{"type":"string","description":"手机号","example":"13800138000"},"expiresIn":{"type":"integer","description":"访问令牌过期时间（毫秒）","format":"int64","example":900000},"refreshExpiresIn":{"type":"integer","description":"刷新令牌过期时间（毫秒）","format":"int64","example":2592000000}},"description":"登录响应数据"},"RegisterResponse":{"required":["loginInfo"],"type":"object","properties":{"loginInfo":{"$ref":"#/components/schemas/LoginResponse"},"generatedPassword":{"type":"string","description":"生成的随机密码","example":"Abc123@!"},"passwordTip":{"type":"string","description":"密码安全提示"}},"description":"注册响应数据","nullable":true},"apiResponseRegisterResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/RegisterResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"RefreshRequest":{"type":"object","properties":{"refreshToken":{"type":"string"}}},"TokenResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"sessionId":{"type":"string"}},"description":"返回的数据内容","nullable":true},"apiResponseTokenResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/TokenResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseString":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"string","description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"LoginRequest":{"required":["identifier","phone","type"],"type":"object","properties":{"type":{"type":"string","description":"登录类型：password=密码登录, sms=短信验证码登录","example":"password","enum":["password","sms"]},"phone":{"type":"string","description":"手机号（支持国际格式，如+86 15365201234或+60 1125231234）","example":"+86 15365201234"},"identifier":{"type":"string","description":"密码或验证码：当type=password时为密码，当type=sms时为6位数字验证码","example":"123456"}},"description":"登录请求参数"},"apiResponseLoginResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/LoginResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseMapStringString":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"string","description":"返回的数据内容","nullable":true},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"TopicCreateReq":{"required":["content","publish","title"],"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"writer":{"type":"string"},"publish":{"type":"boolean"}},"description":"帖子创建请求"},"apiResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"ArticlePublishRequest":{"required":["articleContent","articleName","contentType","editType"],"type":"object","properties":{"editType":{"type":"integer","description":"文章编辑类型","format":"int32","example":1,"enum":[1,2]},"articleName":{"maxLength":255,"type":"string","description":"文章标题","example":"我的第一篇文章"},"articleContent":{"type":"string","description":"文章内容","example":"这是文章的内容..."},"articleWriter":{"maxLength":100,"type":"string","description":"文章作者（笔名）","example":"张三"},"contentType":{"type":"integer","description":"文章类型","format":"int32","example":1,"enum":[1,2,3,4]},"channelId":{"type":"integer","description":"频道ID（可选）","format":"int32","example":1},"imageFiles":{"type":"array","description":"文章附件图片文件列表（最多9张，仅普通文章模式有效）","format":"binary","items":{"type":"string","format":"binary"}},"coverImage":{"type":"string","format":"binary"},"isTop":{"type":"boolean","description":"是否置顶","example":false},"isAds":{"type":"boolean","description":"是否是赞助商广告","example":false},"richTextImageKeys":{"type":"array","description":"富文本中已有的图片对象key列表（富文本模式专用）。前端需要从富文本编辑器内容中提取图片的objectKey并传递此参数，只有传递了此参数的图片才会保存到数据库中。","example":["common/20250907145243_9d8fafbc.jpg","common/20250907145244_abc123def.jpg"],"items":{"type":"string","description":"富文本中已有的图片对象key列表（富文本模式专用）。前端需要从富文本编辑器内容中提取图片的objectKey并传递此参数，只有传递了此参数的图片才会保存到数据库中。","example":"[\"common/20250907145243_9d8fafbc.jpg\",\"common/20250907145244_abc123def.jpg\"]"}},"valid":{"type":"boolean"},"richTextMode":{"type":"boolean"},"normalMode":{"type":"boolean"}},"description":"文章发布请求"},"ArticleCreateRequest":{"required":["articleContent","articleName"],"type":"object","properties":{"articleName":{"type":"string","description":"文章标题","example":"我的第一篇文章"},"articleContent":{"type":"string","description":"文章内容","example":"这是文章的内容..."},"channelId":{"type":"integer","description":"频道ID（可选，不传则作为普通文章）","format":"int32","example":1},"imageUrls":{"type":"array","description":"文章图片URL列表（最多9张）","example":["https://example.com/image1.jpg","https://example.com/image2.jpg"],"items":{"type":"string","description":"文章图片URL列表（最多9张）","example":"[\"https://example.com/image1.jpg\",\"https://example.com/image2.jpg\"]"}},"isTop":{"type":"boolean","description":"是否置顶","example":false},"isAds":{"type":"boolean","description":"是否是赞助商广告","example":false}},"description":"文章发布请求，包含文章标题、内容、频道ID和图片URL列表"},"GrantScopedReq":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"roleCode":{"type":"string"},"scopeType":{"type":"integer","format":"int32"},"scopeId":{"type":"integer","format":"int32"}},"description":"范围角色授予请求"},"apiResponseObject":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"GrantGlobalReq":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"roleCode":{"type":"string"}},"description":"全局角色授予请求"},"apiResponseMapStringLong":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"integer","description":"返回的数据内容","format":"int64","nullable":true},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"MutualFollowStatus":{"type":"object","properties":{"isFollowing":{"type":"boolean","description":"当前用户是否关注了目标用户","example":true},"isFollowedBy":{"type":"boolean","description":"目标用户是否关注了当前用户","example":false},"isMutualFollow":{"type":"boolean","description":"是否互相关注","example":false},"targetUserId":{"type":"integer","description":"目标用户ID","format":"int32","example":123},"currentUserId":{"type":"integer","description":"当前用户ID","format":"int32","example":456}},"description":"用户互相关注状态","nullable":true},"apiResponseMutualFollowStatus":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/MutualFollowStatus"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseMapStringBoolean":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"boolean","description":"返回的数据内容","nullable":true},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseListMapStringObject":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"array","description":"返回的数据内容","nullable":true,"items":{"type":"object","additionalProperties":{"type":"object","description":"返回的数据内容","nullable":true},"description":"返回的数据内容","nullable":true}},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"PermissionItem":{"type":"object","properties":{"permissionKey":{"type":"string"},"permissionName":{"type":"string"},"description":{"type":"string"},"isGlobal":{"type":"boolean"},"isGranted":{"type":"boolean"},"permissionSource":{"type":"string"},"scopedPermissions":{"type":"array","items":{"$ref":"#/components/schemas/ScopedPermission"}}}},"PermissionSection":{"type":"object","properties":{"sectionKey":{"type":"string"},"sectionName":{"type":"string"},"description":{"type":"string"},"permissions":{"type":"array","items":{"$ref":"#/components/schemas/PermissionItem"}}}},"ScopedPermission":{"type":"object","properties":{"scopeId":{"type":"integer","format":"int32"},"scopeName":{"type":"string"},"scopeType":{"type":"integer","format":"int32"},"scopeTypeName":{"type":"string"},"isGranted":{"type":"boolean"},"permissionSource":{"type":"string"}}},"UserInfo":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"username":{"type":"string"},"nickname":{"type":"string"},"isGlobalAdmin":{"type":"boolean"}}},"UserPermissionResponse":{"type":"object","properties":{"userInfo":{"$ref":"#/components/schemas/UserInfo"},"sections":{"type":"array","items":{"$ref":"#/components/schemas/PermissionSection"}}},"description":"返回的数据内容","nullable":true},"apiResponseUserPermissionResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/UserPermissionResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"Users":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"username":{"type":"string"},"password":{"type":"string"},"role":{"type":"string"},"nickname":{"type":"string"},"ipAddress":{"type":"string"},"wechatOpenid":{"type":"string"},"userAvatar":{"type":"string"},"phoneE164":{"type":"string"},"phone":{"type":"string"}},"description":"返回的数据内容","nullable":true},"apiResponseUsers":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/Users"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"Page":{"type":"object","properties":{"pageId":{"type":"integer","format":"int32"},"name":{"type":"string"},"type":{"type":"integer","format":"int32"}},"description":"返回的数据内容","nullable":true},"apiResponseListPage":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"array","description":"返回的数据内容","nullable":true,"items":{"$ref":"#/components/schemas/Page"}},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"ChannelFilterDTO":{"type":"object","properties":{"channelId":{"type":"integer","format":"int32"},"channelName":{"type":"string"},"visible":{"type":"integer","format":"int32"},"sort":{"type":"integer","format":"int32"}}},"ComponentBlock":{"type":"object","properties":{"type":{"type":"string"},"data":{"type":"object"}}},"PageResponse":{"type":"object","properties":{"pageName":{"type":"string"},"sections":{"type":"array","items":{"$ref":"#/components/schemas/SectionBlock"}},"filters":{"type":"array","items":{"$ref":"#/components/schemas/ChannelFilterDTO"}}},"description":"返回的数据内容","nullable":true},"SectionBlock":{"type":"object","properties":{"sectionName":{"type":"string"},"components":{"type":"array","items":{"$ref":"#/components/schemas/ComponentBlock"}}}},"apiResponsePageResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/PageResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseMapStringListString":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"array","description":"返回的数据内容","nullable":true,"items":{"type":"string","description":"返回的数据内容","nullable":true}},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"}},"securitySchemes":{"BearerAuth":{"type":"http","description":"请输入JWT Token，格式：Bearer <token>","scheme":"bearer","bearerFormat":"JWT"}}}}
