{"openapi":"3.0.1","info":{"title":"知马网信息综合服务系统API","description":"知马网信息综合服务Rest api文档","version":"1.0"},"servers":[{"url":"http://duducar.cloud:8888","description":"Generated server url"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"用户管理","description":"用户登录、登出等接口"},{"name":"用户关注管理","description":"用户关注、粉丝、互相关注等功能的API接口"},{"name":"动态流","description":"动态流相关接口"},{"name":"文章评论管理","description":"文章评论的增删改查接口"},{"name":"COS腾讯云图片管理","description":"腾讯云对象存储图片上传、删除接口"},{"name":"论坛主题管理","description":"论坛频道帖子相关操作接口"},{"name":"文章管理","description":"文章的查询、管理等接口"},{"name":"文章浏览量管理","description":"文章浏览量的统计、查询、管理接口"},{"name":"手机版知马网动态页面管理","description":"页面动态化相关接口"}],"paths":{"/api/users/{targetId}/unfollow":{"post":{"tags":["用户关注管理"],"summary":"取消关注","description":"当前用户取消关注指定用户","operationId":"unfollow","parameters":[{"name":"targetId","in":"path","description":"目标用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"401":{"description":"未登录","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}},"200":{"description":"操作成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}},"400":{"description":"参数错误","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{targetId}/follow":{"post":{"tags":["用户关注管理"],"summary":"关注用户","description":"当前用户关注指定用户","operationId":"follow","parameters":[{"name":"targetId","in":"path","description":"目标用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"401":{"description":"未登录","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}},"200":{"description":"操作成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}},"400":{"description":"参数错误","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseVoid"}}}}},"security":[{"BearerAuth":[]}]}},"/api/user/logout":{"post":{"tags":["用户管理"],"summary":"用户登出","description":"用户登出接口，清除Redis中的Token","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/user/login":{"post":{"tags":["用户管理"],"summary":"用户登录","description":"用户登录接口，返回JWT Token","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseLoginResponse"}}}}}}},"/api/feed/like":{"post":{"tags":["动态流"],"summary":"点赞/取消点赞","description":"切换文章的点赞状态","operationId":"toggleLike","parameters":[{"name":"articleId","in":"query","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"query","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/cos/image/url/batch-generate":{"post":{"tags":["COS腾讯云图片管理"],"summary":"批量生成图片URL","description":"根据对象key列表批量生成用于展示的签名URL","operationId":"generateBatchImageUrls","parameters":[{"name":"expirationMinutes","in":"query","description":"过期时间（分钟），默认30分钟","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"对象key列表","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/cos/image/upload/common":{"post":{"tags":["COS腾讯云图片管理"],"summary":"上传通用图片","description":"上传通用图片到腾讯云COS的common目录","operationId":"uploadCommonImage","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"通用图片文件","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringString"}}}}}}},"/api/cos/image/upload/avatar":{"post":{"tags":["COS腾讯云图片管理"],"summary":"上传用户头像","description":"上传用户头像到腾讯云COS的avatar目录","operationId":"uploadAvatarImage","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"用户头像文件","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringString"}}}}}}},"/api/cos/image/upload/advertisement":{"post":{"tags":["COS腾讯云图片管理"],"summary":"上传广告图片","description":"上传广告图片到腾讯云COS的advertisements目录","operationId":"uploadAdvertisementImage","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"广告图片文件","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringString"}}}}}}},"/api/channels/{channelId}/topics":{"post":{"tags":["论坛主题管理"],"summary":"创建新帖子","description":"在指定频道创建新的论坛帖子，支持草稿和直接发布两种模式。用户需要具备在该频道发帖的权限。","operationId":"createTopic","parameters":[{"name":"channelId","in":"path","description":"频道ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicCreateReq"}}},"required":true},"responses":{"401":{"description":"未登录或登录已过期","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"未登录或登录已过期","data":null,"errorCode":"UNAUTHORIZED","debugInfo":null}}}},"500":{"description":"服务器内部错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"error","message":"创建帖子失败","data":null,"errorCode":"SERVER_ERROR","debugInfo":"具体错误信息"}}}},"403":{"description":"没有发帖权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"您没有在该频道发帖的权限","data":null,"errorCode":"FORBIDDEN","debugInfo":null}}}},"200":{"description":"操作成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"examples":{"发布成功":{"description":"发布成功","value":{"status":"success","message":"发布成功","data":null,"errorCode":null,"debugInfo":null}},"草稿保存成功":{"description":"草稿保存成功","value":{"status":"success","message":"草稿已保存","data":null,"errorCode":null,"debugInfo":null}}}}}}},"security":[{"bearerAuth":[]}]}},"/api/channels/{channelId}/topics/{articleId}/unpin":{"post":{"tags":["论坛主题管理"],"summary":"取消置顶帖子","description":"将指定频道的帖子取消置顶状态，只有具备频道管理权限的用户才能执行此操作。需要 FORUM_ADMIN、FORUM_MOD 或 SYS_ADMIN 权限。","operationId":"unpin","parameters":[{"name":"channelId","in":"path","description":"频道ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"articleId","in":"path","description":"帖子ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"401":{"description":"未登录或登录已过期","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"未登录或登录已过期","data":null,"errorCode":"UNAUTHORIZED","debugInfo":null}}}},"200":{"description":"取消置顶成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"success","message":"已取消置顶","data":null,"errorCode":null,"debugInfo":null}}}},"500":{"description":"服务器内部错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"error","message":"取消置顶失败","data":null,"errorCode":"SERVER_ERROR","debugInfo":"具体错误信息"}}}},"403":{"description":"没有频道管理权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"您没有该频道的管理权限","data":null,"errorCode":"FORBIDDEN","debugInfo":null}}}},"404":{"description":"帖子不存在","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"帖子不存在","data":null,"errorCode":"NOT_FOUND","debugInfo":null}}}}},"security":[{"bearerAuth":[]}]}},"/api/channels/{channelId}/topics/{articleId}/pin":{"post":{"tags":["论坛主题管理"],"summary":"置顶帖子","description":"将指定频道的帖子设置为置顶状态，只有具备频道管理权限的用户才能执行此操作。需要 FORUM_ADMIN、FORUM_MOD 或 SYS_ADMIN 权限。","operationId":"pin","parameters":[{"name":"channelId","in":"path","description":"频道ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"articleId","in":"path","description":"帖子ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"401":{"description":"未登录或登录已过期","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"未登录或登录已过期","data":null,"errorCode":"UNAUTHORIZED","debugInfo":null}}}},"500":{"description":"服务器内部错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"error","message":"置顶失败","data":null,"errorCode":"SERVER_ERROR","debugInfo":"具体错误信息"}}}},"403":{"description":"没有频道管理权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"您没有该频道的管理权限","data":null,"errorCode":"FORBIDDEN","debugInfo":null}}}},"200":{"description":"置顶成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"success","message":"已置顶","data":null,"errorCode":null,"debugInfo":null}}}},"404":{"description":"帖子不存在","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiResponse"},"example":{"status":"fail","message":"帖子不存在","data":null,"errorCode":"NOT_FOUND","debugInfo":null}}}}},"security":[{"bearerAuth":[]}]}},"/api/articles/{articleId}/views/init":{"post":{"tags":["文章浏览量管理"],"summary":"设置浏览量初始值","description":"管理员专用接口，设置文章的初始浏览量基线值","operationId":"setInitial","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"initial","in":"query","description":"初始浏览量值","required":true,"schema":{"type":"integer","format":"int64"},"example":1000}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/articles/{articleId}/views/incr":{"post":{"tags":["文章浏览量管理"],"summary":"调整浏览量","description":"管理员专用接口，用于特殊场景下的浏览量调整（如活动推广、人工修正等）","operationId":"addByAdmin","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"delta","in":"query","description":"浏览量增量，正数表示增加，负数表示减少","required":true,"schema":{"type":"integer","format":"int64"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/articles/{articleId}/views/hit":{"post":{"tags":["文章浏览量管理"],"summary":"记录文章浏览量","description":"记录用户查看文章的行为，支持防刷机制。60秒内同一用户重复点击不会重复计数","operationId":"hit","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"X-User-Id","in":"header","description":"用户ID，用于已登录用户的身份识别,前端如果是已登录的化，就传这个id","required":false,"schema":{"type":"string"},"example":123},{"name":"X-Session-Id","in":"header","description":"会话ID，用于未登录用户的身份识别，","required":false,"schema":{"type":"string"},"example":"session_abc123"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/articles/{articleId}/comments":{"get":{"tags":["文章评论管理"],"summary":"获取文章评论列表","description":"分页获取指定文章的评论列表，支持根评论和子评论的树状结构","operationId":"list","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"limit","in":"query","description":"每页评论数量","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"offset","in":"query","description":"分页偏移量，表示从第几条评论开始获取。例如：offset=0表示从第1条开始，offset=10表示从第11条开始，offset=20表示从第21条开始。通常计算公式：offset = (页码 - 1) × limit","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}},"post":{"tags":["文章评论管理"],"summary":"添加根评论","description":"为指定文章添加一条根评论","operationId":"addRoot","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"userId","in":"query","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"text","in":"query","description":"评论内容","required":true,"schema":{"type":"string"},"example":"这是一条评论"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/articles/{articleId}/comments/reply":{"post":{"tags":["文章评论管理"],"summary":"添加回复评论","description":"为指定的根评论添加一条回复评论","operationId":"addReply","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"userId","in":"query","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"parentId","in":"query","description":"父评论ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"text","in":"query","description":"回复内容","required":true,"schema":{"type":"string"},"example":"这是一条回复"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}},"/api/users/{userId}/following":{"get":{"tags":["用户关注管理"],"summary":"获取关注列表","description":"获取指定用户关注的用户列表，支持游标分页","operationId":"following","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123},{"name":"cursorTime","in":"query","description":"游标时间，格式：2025-09-05 12:00:00","required":false,"schema":{"type":"string"}},{"name":"cursorId","in":"query","description":"游标ID，上次最后一条的用户ID","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"每页数量，最大100","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{userId}/followers":{"get":{"tags":["用户关注管理"],"summary":"获取粉丝列表","description":"获取指定用户的粉丝列表，支持游标分页","operationId":"followers","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123},{"name":"cursorTime","in":"query","description":"游标时间，格式：2025-09-05 12:00:00","required":false,"schema":{"type":"string"}},{"name":"cursorId","in":"query","description":"游标ID，上次最后一条的用户ID","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"每页数量，最大100","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{userId}/follow-counts":{"get":{"tags":["用户关注管理"],"summary":"获取关注统计","description":"获取指定用户的粉丝数和关注数统计","operationId":"counts","parameters":[{"name":"userId","in":"path","description":"用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringLong"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{targetUserId}/mutual-follow-status":{"get":{"tags":["用户关注管理"],"summary":"获取互相关注状态","description":"获取当前用户与指定用户之间的互相关注状态","operationId":"getMutualFollowStatus","parameters":[{"name":"targetUserId","in":"path","description":"目标用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"400":{"description":"参数错误","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMutualFollowStatus"}}}},"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMutualFollowStatus"}}}}},"security":[{"BearerAuth":[]}]}},"/api/users/{targetId}/is-following":{"get":{"tags":["用户关注管理"],"summary":"检查关注状态","description":"检查当前用户是否已关注指定用户","operationId":"isFollowing","parameters":[{"name":"targetId","in":"path","description":"目标用户ID","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"200":{"description":"查询成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringBoolean"}}}}},"security":[{"BearerAuth":[]}]}},"/api/user/info":{"get":{"tags":["用户管理"],"summary":"获取当前用户的基本信息","description":"获取当前登录用户的详细信息","operationId":"getUserInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseUsers"}}}}}}},"/api/page/list":{"get":{"tags":["手机版知马网动态页面管理"],"summary":"获取首页页面上标题按钮","description":"获取所有页面，按sort字段排序","operationId":"getAllPages","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseListPage"}}}}}}},"/api/page/compose":{"get":{"tags":["手机版知马网动态页面管理"],"summary":"按页面编排返回大JSON，仅限首页的栏目","description":"根据页面ID(pageId)与类型(type)拼装页面的组件数据，type默认为0(手机端)","operationId":"compose","parameters":[{"name":"pageId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponsePageResponse"}}}}}}},"/api/feed/like-count":{"get":{"tags":["动态流"],"summary":"获取文章点赞数","description":"获取指定文章的点赞数量","operationId":"getLikeCount","parameters":[{"name":"articleId","in":"query","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringObject"}}}}}}},"/api/cos/image/list":{"get":{"tags":["COS腾讯云图片管理"],"summary":"获取所有图片列表","description":"获取所有目录下的图片对象key列表","operationId":"getAllImages","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringListString"}}}}}}},"/api/cos/image/cdn-auth-url":{"get":{"tags":["COS腾讯云图片管理"],"summary":"生成CDN鉴权URL","description":"根据对象key生成CDN鉴权URL","operationId":"generateCdnAuthUrl","parameters":[{"name":"objectKey","in":"query","description":"对象key","required":true,"schema":{"type":"string"}},{"name":"expireTime","in":"query","description":"过期时间（秒），默认3600秒（1小时）","required":false,"schema":{"type":"integer","format":"int64","default":3600}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringString"}}}}}}},"/api/articles":{"get":{"tags":["文章管理"],"summary":"获取文章列表","description":"根据内容类型获取文章列表，支持分页","operationId":"getArticleList","parameters":[{"name":"contentType","in":"query","description":"内容类型：1=文章, 2=论坛帖, 不传=所有类型","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"limit","in":"query","description":"每页文章数量","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"offset","in":"query","description":"分页偏移量，表示从第几篇文章开始获取。例如：offset=0表示从第1篇开始，offset=10表示从第11篇开始，offset=20表示从第21篇开始。通常计算公式：offset = (页码 - 1) × limit","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseListMapStringObject"}}}}}}},"/api/articles/{articleId}":{"get":{"tags":["文章管理"],"summary":"获取文章详情","description":"根据文章ID获取文章的详细信息，包括文章内容、图片列表、评论列表、作者信息和关注状态","operationId":"getArticleDetail","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseArticleDetailWithAuthorResponse"}}}}}}},"/api/articles/{articleId}/views":{"get":{"tags":["文章浏览量管理"],"summary":"获取文章浏览量","description":"获取指定文章的当前总浏览量，包含数据库基线和Redis增量","operationId":"getCount","parameters":[{"name":"articleId","in":"path","description":"文章ID","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseMapStringLong"}}}}}}},"/api/cos/image/delete":{"delete":{"tags":["COS腾讯云图片管理"],"summary":"删除图片","description":"从腾讯云COS中删除指定图片","operationId":"deleteImage","parameters":[{"name":"imageUrl","in":"query","description":"图片URL","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/apiResponseString"}}}}}}}},"components":{"schemas":{"apiResponseVoid":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseString":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"string","description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"LoginRequest":{"required":["password","username"],"type":"object","properties":{"username":{"type":"string","description":"用户名","example":"admin"},"password":{"type":"string","description":"密码","example":"123"}},"description":"登录请求参数"},"LoginResponse":{"type":"object","properties":{"token":{"type":"string","description":"访问令牌","example":"eyJhbGciOiJIUzI1NiJ9..."},"userId":{"type":"integer","description":"用户ID","format":"int32","example":1},"username":{"type":"string","description":"用户名","example":"admin"},"role":{"type":"string","description":"用户角色","example":"ADMIN"},"expiresIn":{"type":"integer","description":"令牌过期时间（毫秒）","format":"int64","example":86400000}},"description":"登录响应数据","nullable":true},"apiResponseLoginResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/LoginResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseMapStringObject":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"object","description":"返回的数据内容","nullable":true},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseMapStringString":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"string","description":"返回的数据内容","nullable":true},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"TopicCreateReq":{"required":["content","publish","title"],"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"writer":{"type":"string"},"publish":{"type":"boolean"}},"description":"帖子创建请求"},"apiResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseMapStringLong":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"integer","description":"返回的数据内容","format":"int64","nullable":true},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"MutualFollowStatus":{"type":"object","properties":{"isFollowing":{"type":"boolean","description":"当前用户是否关注了目标用户","example":true},"isFollowedBy":{"type":"boolean","description":"目标用户是否关注了当前用户","example":false},"isMutualFollow":{"type":"boolean","description":"是否互相关注","example":false},"targetUserId":{"type":"integer","description":"目标用户ID","format":"int32","example":123},"currentUserId":{"type":"integer","description":"当前用户ID","format":"int32","example":456}},"description":"用户互相关注状态","nullable":true},"apiResponseMutualFollowStatus":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/MutualFollowStatus"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseMapStringBoolean":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"boolean","description":"返回的数据内容","nullable":true},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"Users":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"username":{"type":"string"},"password":{"type":"string"},"role":{"type":"string"},"nickname":{"type":"string"},"ipAddress":{"type":"string"},"wechatOpenid":{"type":"string"},"userAvatar":{"type":"string"}},"description":"返回的数据内容","nullable":true},"apiResponseUsers":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/Users"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"Page":{"type":"object","properties":{"pageId":{"type":"integer","format":"int32"},"name":{"type":"string"},"type":{"type":"integer","format":"int32"}},"description":"返回的数据内容","nullable":true},"apiResponseListPage":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"array","description":"返回的数据内容","nullable":true,"items":{"$ref":"#/components/schemas/Page"}},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"ComponentBlock":{"type":"object","properties":{"type":{"type":"string"},"data":{"type":"object"}}},"PageResponse":{"type":"object","properties":{"pageName":{"type":"string"},"sections":{"type":"array","items":{"$ref":"#/components/schemas/SectionBlock"}}},"description":"返回的数据内容","nullable":true},"SectionBlock":{"type":"object","properties":{"sectionName":{"type":"string"},"components":{"type":"array","items":{"$ref":"#/components/schemas/ComponentBlock"}}}},"apiResponsePageResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/PageResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseMapStringListString":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"object","additionalProperties":{"type":"array","description":"返回的数据内容","nullable":true,"items":{"type":"string","description":"返回的数据内容","nullable":true}},"description":"返回的数据内容","nullable":true},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"apiResponseListMapStringObject":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"type":"array","description":"返回的数据内容","nullable":true,"items":{"type":"object","additionalProperties":{"type":"object","description":"返回的数据内容","nullable":true},"description":"返回的数据内容","nullable":true}},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"},"ArticleCommentDetail":{"type":"object","properties":{"commentId":{"type":"integer","format":"int32"},"parentId":{"type":"integer","format":"int32"},"articleId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"comments":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"userAvatar":{"type":"string"},"ipLocation":{"type":"string"}}},"ArticleDetailWithAuthorResponse":{"type":"object","properties":{"articleId":{"type":"integer","format":"int32"},"articleName":{"type":"string"},"articleContent":{"type":"string"},"articleWriter":{"type":"string"},"contentType":{"type":"integer","format":"int32"},"channelId":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"},"isTop":{"type":"integer","format":"int32"},"isFeatured":{"type":"integer","format":"int32"},"replyCount":{"type":"integer","format":"int32"},"viewCount":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastReplyAt":{"type":"string","format":"date-time"},"images":{"type":"array","items":{"$ref":"#/components/schemas/ArticleImage"}},"comments":{"type":"array","items":{"$ref":"#/components/schemas/ArticleCommentDetail"}},"author":{"$ref":"#/components/schemas/AuthorInfo"},"followStatus":{"$ref":"#/components/schemas/FollowStatus"}},"description":"返回的数据内容","nullable":true},"ArticleImage":{"type":"object","properties":{"pictureId":{"type":"integer","format":"int32"},"pictureUrl":{"type":"string"}}},"AuthorInfo":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"username":{"type":"string"},"nickname":{"type":"string"},"role":{"type":"string"},"ipAddress":{"type":"string"},"wechatOpenid":{"type":"string"},"userAvatar":{"type":"string"}}},"FollowStatus":{"type":"object","properties":{"isFollowing":{"type":"boolean"},"isFollowedBy":{"type":"boolean"},"isMutualFollow":{"type":"boolean"},"followersCount":{"type":"integer","format":"int64"},"followingCount":{"type":"integer","format":"int64"}}},"apiResponseArticleDetailWithAuthorResponse":{"type":"object","properties":{"status":{"type":"string","description":"业务状态，如 success / fail / error","example":"success"},"message":{"type":"string","description":"用户可见的提示消息","example":"操作成功"},"data":{"$ref":"#/components/schemas/ArticleDetailWithAuthorResponse"},"errorCode":{"type":"string","description":"错误代码，用于前端分类处理或国际化，请注意这个返回不会是状态码，避免与HTTP状态码混淆","example":"INVALID_TEMPLATE_ID"},"debugInfo":{"type":"string","description":"调试信息，开发环境使用","nullable":true}},"description":"通用 API 响应结构--用于后端开发统一返回格式"}},"securitySchemes":{"BearerAuth":{"type":"http","description":"请输入JWT Token，格式：Bearer <token>","scheme":"bearer","bearerFormat":"JWT"}}}}
